[2014-08-05 11:28] #515 closed, assigned to stefanorosanelli

[2014-08-08 10:52] stefanorosanelli opened #518 "markdown editor for text fields"
first implementation using:
http://epiceditor.com/

[2014-08-08 15:56] stefanorosanelli opened #519 "module forward method refactor"
forward methods in modules controller are almost always redundant - and **ugly**

refactor is needed

[2014-08-11 11:40] stefanorosanelli opened #520 "enable object list view customization"
add view elements in module list view to:

 * customize preview/detail in list view (details opened with +/- )
 * create custom button/link near checkbox

[2014-08-11 13:10] stefanorosanelli opened #521 "refactor menu templates - menuleft.tpl / menucommands.tpl"
templates __menuleft.tpl__  /  __menucommands.tpl__  in views/elements are almost identical in every module:

 * create reusable __menuleft.tpl__  /  __menucommands.tpl__ templates with inside elements for customization

[2014-08-11 13:27] stefanorosanelli opened #522 "remove unused $config['userVersion']"
remove unused `$config['userVersion']` from `bedita.ini.php` and from modules templates

use `$config['version']` for semantic versioning, maintain `$config['majorVersion']` for retrocompatibility

see #521

[2014-08-14 08:24] #493 closed, assigned to stefanorosanelli

[2014-08-29 08:55] edoardocavazza opened #525 "Error overriding multimedia file"
Trying to re upload a media file with override option, the file is not replaced and I get this error:

<pre>
Warning (2): filesize() [function.filesize]: stat failed for /Users/edoardo/Lavori/bedita/bedita-app/webroot/files/d4/e5/acque_01_ciclo_acqua_h264_ld.mp4 [APP/controllers/components/be_upload_to_obj.php, line 168]Code | Context                $data['uri'] = Configure::read("mediaRoot") . $d

[2014-09-04 08:06] edoardocavazza opened #526 "Multiple files related to one BE object"
For a better video and audio support in a HTML5 page, multiple version of the same media are required with different extensions (mp4, ogv, webm, ogg, mp3, etc...)

[2014-09-05 10:54] #494 closed, assigned to batopa

[2014-09-05 11:17] stefanorosanelli opened #527 "shell: init new module from reference"
New shell script method to initialize a new module from reference (whi one? a new repo?) clone the project and other stuff. Similar to the new shell script for frontends in #494.

Something like
```$ ./cake.sh module init -name my-new-module [-path module-path]```

Interactive from
```$ ./cake.sh module init```

Script should ask for git init, and model creation.

[2014-09-10 17:01] stefanorosanelli opened #528 "empty relation params displayed as '[' backend UI"
If object_relations.params field is '[]' or '{}' - that both represents empty json array/object parameters in backend UI should be represented as empty.
Instead you will see '[' or '{' character.
Subsequent save may give errors/problems.

[2014-09-11 15:01] #528 closed, assigned to stefanorosanelli

[2014-09-11 15:10] stefanorosanelli opened #529 "SQL optimizations on BEAppModel::findObjects"
As the nuber of objects increases (> 100.000) some queries become really slow:
 module index/lists from backend (e.g. documents list) can take seconds...

[2014-09-18 11:10] stefanorosanelli opened #530 "Use Cake cache reading objects"
Use Cake cache to get fast access to objects using Cake::read - Cake::write
Mainly (but not only) for frontends speedup.
Requirements:
- activate via config paramenter
- use a component to read / write objects
- each cache should be identified by id and bindings used
- keep user/group permissions controls on objects

@batopa - other requirements ?

[2014-09-22 15:26] stefanorosanelli opened #531 "Invalidate objects cache from backend"
see #530

New object cache (see new ```ObjectCacheComponent```) should be invalidated from backend saving or deleting objects.

Proposed solution:
 * call ObjectCache::delete($id) as an object is modified&removed
 * ObjectCache::delete($id) should remove all versions of object cache created

[2014-09-23 15:34] stefanorosanelli opened #532 "searching words with accented letters/quotes is not working"
If you search for words like **utilità** or **probabilità** you get wrong/bad results
Also using quotes like in **l'ora**

words are HTML encoded and SQL queries (for boh SQL or FULL TEXT) contain conditions like:

[code]

[2014-09-23 15:45] #529 closed, assigned to batopa

[2014-10-10 13:51] batopa opened #533 "Duplicate results on query filter"
After sql optimizations on `BEAppModel::findObjects()` #529 the search return duplicate results.

[2014-10-10 14:20] manuelzane opened #534 "Error inserting objects into groups"
Inserting objects into groups with several users and a large amount of objects (submitting the form) the server returns a 500 error.

[2014-10-10 15:05] xho opened #535 "Every click generates "save warning" in events"
While in an event in "events" module, every click or navigation event makes the document unsaved and generates a "leaving page warning", even if nothing was changed.

Also in module "Address book".

[2014-10-13 09:06] stefanorosanelli opened #536 "multimedia: missing file should cause warning to user"
Viewing a media object detail, if media file is referenced but missing on filesystem user should receive a warning

[2014-10-20 08:32] edoardocavazza opened #537 "BEdita and Javascript application"
We need to implement a better flow for developing javascript applications (web, cordova, etc...) with BEdita as backend and data provider. This is a list of proposals that I have thought:

Todo:

- [ ] establish the structure of the JSON object that BEdita returns
- [x] use ajax layout for all ajax calls (also for errors)

Deprecated:

- <del>promote the method "jsonResponse" that we have used in

[2014-10-20 16:51] stefanorosanelli opened #538 "log: remove stack trace from error.log and add exception parameter to log otherwise"
Enhance error.log file readability
- remove stack trace logs from error log and move them to other log files like 'exception.log'
- add user info where available (userid is sufficient)
- add BEditaException attribute $logLevel to decide where to log file (defaults error.log, may be null/false to avoid log)

[2014-10-23 06:53] #533 closed, assigned to batopa

[2014-10-23 15:41] stefanorosanelli opened #539 "custom views for object relations in backend"
- add a 'view' parameter in `$config["objRelationType"]` (modules config) or `$config["objRelationType"]` (core config) with path to view .tpl
- in backend look in `$conf->allObjectsRelations` if a relation has 'view' parameter defined, if so use that view in backend instead of default one

[2014-10-23 16:55] #536 closed, assigned to stefanorosanelli

[2014-10-28 08:22] #507 closed, assigned to edoardocavazza

[2014-10-28 09:29] fquffio opened #540 "Installing BEdita with already populated DB prompts to overwrite user with ID=1"
When installing BEdita using a pre-populated database, after entering DB connection settings, the user will be prompted to create an admin user (even if it already exists).

If the user enters an already-existing username, he will get an error message, but if he enters an available username, the setup script will overwrite the user with ID=1 (created during a previous installation).

[2014-11-03 09:08] fquffio opened #541 "Filter "count_relations" groups all rows in result"
Using `count_relations` as module filter groups all rows in result, due to `SUM(num_of_relations_XXYYZZ)` in `SELECT` query, when rows have already been grouped by `id` by a subquery, causing also `LIMIT` to return 0 rows if a positive offset is specified.

TODO:
- [x] fix query (/bedita-app/models/behaviors/build_filter.php:736).

[2014-11-03 16:45] stefanorosanelli opened #542 "shell: dbadmin rebuildIndex -> select object type"
With rebuildIndex script now you can rebuild index globally or for a spcific id

[2014-11-04 16:46] #542 closed, assigned to stefanorosanelli

[2014-11-04 16:50] #525 closed, assigned to batopa

[2014-11-05 10:35] xho opened #543 "SVG presentation in be_thumb"
SVG are not correctly shown in BEdita. It results as an unsupported image and so BEdita presents the default icon for images.
In be_thumb.php setupImageInfo() fails and returns an "unsupported image" instead of returning simply the SVG URL.

Note: if a thumb is requested only imageMagick can perform the conversion to bitmap files.
Nevertheless **I would avoid thumb issues and simply return the URL

[2014-11-05 11:05] qwerg opened #544 "Duration: input field has to handle minutes and seconds"
Input field for object duration property, should be filled with a time notation like h:m:s; while database should remain in seconds (integer).

[2014-11-06 16:20] fquffio opened #545 "Relations: updating relations parameters"
It should be possible to update relations' parameters without performing a "low level" query directly, but interacting with ObjectsRelations model.

[2014-11-06 17:05] batopa opened #546 "Handle user session when it is configured to not automatically start"
In backend sessions start automatically but in **frontend apps** it could happen to want to handle manually the sessions start.
Using CakePHP core configuration

[code]

we can control this behavior but we need also to handle it in `BeAuthComponent` because now it is always used as if a session was started.

**When session autostart is off the session should be start only if user is logged else it

[2014-11-07 11:50] #545 closed, assigned to fquffio

[2014-11-07 17:49] #543 closed, assigned to xho

[2014-11-11 12:10] stefanorosanelli opened #548 "add new related object by URL"
this feature was there in Bedita 3.2, now it's lost
In every relation if we _CONNECT NEW ITEMS_ we cannot add new multimedia objects by URL

when adding new object using **Create new** we may want to use **URL** instead of **File**

URL should be used only for media objects like image, audio, video,....

[2014-11-12 08:54] #516 closed, assigned to batopa

[2014-11-12 14:56] xho opened #549 "Zoom level of geotag not working on google maps"
When testing geotag coordinates, maps have the default zoom level: the zoom field is ignored.
With Google's new API the link used to test map does not accept the zoom parameter anymore.

[2014-11-13 17:53] #549 closed, assigned to nobody

[2014-11-14 09:49] stefanorosanelli opened #552 "error in setup and admin / custom relations - 'Wrong PHP code'"
With newest 3-corylus checkout we have some problems in **setup wizard** and in **Admin / Custom relations**, when it comes to save new **bedita.cfg,php** file we get this 'Wrong PHP code' error

Stacktrace for BEdita setup error

[code]

[2014-11-20 16:02] stefanorosanelli opened #553 "missing media type creating new image object"
To reproduce:
- open _Multimedia Items_ relation of any object
- use _Connect new items_  / _Create new_ to add new image object type selecting an image file
- image object created has no **Media Type** - should be **image**

[2014-11-20 16:53] stefanorosanelli opened #554 "advanced properties view missing for sections/publications"
useful to see creation/modification times and users and other info

[2014-11-20 18:10] #554 closed, assigned to stefanorosanelli

[2014-11-21 11:08] fquffio opened #555 "Backend users can create/edit/delete any category from any backend module"
If a user has access to any backend module that implements categories basic functionality such as creation or deletion, he or she has automatically access to any category in the database, due to absent checks on `object_type_id` in many modules' controllers. In many cases, a read-only access to that module is enough to gain full control of categories across all object types.

I checked both many c

[2014-11-25 09:17] #553 closed, assigned to batopa

[2014-11-25 09:20] #546 closed, assigned to batopa

[2014-11-25 09:32] #555 closed, assigned to fquffio

[2014-11-27 11:20] #552 closed, assigned to batopa

[2014-11-27 17:13] #530 closed, assigned to stefanorosanelli

[2014-11-28 14:22] batopa opened #558 "Implement Frontend RESTful API version 1"
Following format defined in https://github.com/bedita/bedita-genie build the first version of frontend API REST.

- [x] Define a basic set of API endpoints
- [x] Implement backend base controller that extends FrontendController
- [x] ```ApiController``` in frontend apps and routing rules
- [ ] ~~Unit tests~~ todo in other issue
- [x] Authentication system

[2014-11-28 21:15] fquffio opened #559 "Some UI functions not working when offline"
When working on a BEdita instance hosted in a local webserver, some JS libraries require your computer to be online.
If CDN servers for some external libraries are unavailable for any reason, some pieces of JS code come to an error, and some UI functions like the quick item creation or adding a related object to an existing one aren't working properly.

[2014-12-03 10:59] stefanorosanelli opened #560 "hash jobs: use simple values as params"
Sometimes we need to use simple values (strings, numbers) as hash_jobs.params and avoid php serialization

[2014-12-05 10:01] #176 closed, assigned to didoda

[2014-12-05 10:04] stefanorosanelli opened #561 "default JSON import/export logic"
Implement first version of basic BEdit objects import/export
See spec in #176 and https://github.com/bedita/bedita/wiki/Default-serialized-format-for-BEdita-objects

Todo: create Model classes and shell script

[2014-12-05 16:03] #560 closed, assigned to stefanorosanelli

[2014-12-05 16:34] #336 closed, assigned to nikazzio

[2014-12-05 16:40] edoardocavazza opened #562 "BE embed media helper refactor for video and audio"
- [x] use HTML5 tags for Video and Audio elements
- [x] fallback using Flash and (opt) SIlverlight

see:
http://mediaelementjs.com/
http://www.videojs.com/

[2014-12-05 17:09] #184 closed, assigned to batopa

[2014-12-09 11:01] fquffio opened #563 "Standard verbose mode"
When using shell, we might use a standard verbose mode just by adding the `--verbose` parameter at the end of the command string.
This command might be handled by the default `BeditaBaseShell`, while other shells and tasks that extend this class might just use the `BeditaBaseShell::verbose()` method, which is an alias of `Shell::out()` if verbose mode is on, and voids otherwise.

This 'standard ve

[2014-12-10 12:20] #548 closed, assigned to fquffio

[2014-12-10 12:23] #539 closed, assigned to didoda

[2014-12-10 12:36] #538 closed, assigned to stefanorosanelli

[2014-12-10 12:38] #532 closed, assigned to stefanorosanelli

[2014-12-10 14:26] #519 closed, assigned to stefanorosanelli

[2014-12-10 14:58] #300 closed, assigned to xho

[2014-12-10 15:04] #535 closed, assigned to nobody

[2014-12-10 15:25] #522 closed, assigned to stefanorosanelli

[2014-12-10 15:32] #487 closed, assigned to stefanorosanelli

[2014-12-12 16:04] #495 closed, assigned to batopa

[2014-12-12 16:21] #333 closed, assigned to batopa

[2014-12-12 16:29] #490 closed, assigned to edoardocavazza

[2014-12-12 17:12] #510 closed, assigned to edoardocavazza

[2014-12-18 15:43] fquffio opened #564 "Deleting tree branch"
It might be useful to have a method to delete a full tree branch inside the `Tree` model, instead of using an SQL condition based on the `object_path`.
I thought that it could be a method with a heading similar to:
```public function deleteBranch($id, $parentId=false)```

It might look a bit strange to have a `$parentId` that defaults to `false`, but providing just the object's ID is ambiguous in

[2014-12-19 10:22] #503 closed, assigned to edoardocavazza

[2014-12-22 10:16] #447 closed, assigned to fquffio

[2014-12-22 10:44] #544 closed, assigned to fquffio

[2014-12-22 17:41] #559 closed, assigned to fquffio

[2015-01-07 14:35] batopa commented on #482
Pull request #565 merged. Closing

[2015-01-07 14:35] #482 closed

[2015-01-07 15:05] edoardocavazza commented on #558
Introduced a first implementation of the API auth system using session tokens.
Maybe we should take a look at http://jwt.io/ for JSON web tokens

[2015-01-07 15:16] #563 closed

[2015-01-08 12:32] batopa opened #566 "Validate/escape db fields to avoid XSS attack"
To avoid XSS attack we need validating and/or escaping untrusted fields to/from database.

More details here (thanks to __Steffen Rösemann__)

http://{TARGET}/index.php/ (inform with id „addQuickItem“ via input field with name "data[title]" and name "data[description]")
http://{TARGET}/index.php/areas (in form with id „saveNote“ via input field with id „notetext")
http://{TARGET}/index.php/documen

[2015-01-09 13:26] batopa opened #567 "Add validation rule on userid field"
We need a validation rule on userid field. The validation should be any string composed by chars permitted by email specification (not necessary a valid email)

https://en.wikipedia.org/wiki/Email_address#Local_part

[2015-01-11 17:41] sroesemann commented on #566
This issue has been assigned CVE-ID CVE-2015-1040. See http://seclists.org/oss-sec/2015/q1/115. Greetings!

[2015-01-12 11:44] fquffio commented on #567
Added two validation rules on `userid` field (`Users` model):
- a minimum length of two characters is now required
- username cannot contain any special character. In other words, only printable characters are allowed (no control characters), except `<>'"\|&`

[2015-01-16 13:59] batopa commented on #566
The issues reported  and many others are fixed on 3-corylus branch. The patch will be soon available in the next release.

[2015-01-16 14:11] #459 closed

[2015-01-16 15:46] #567 closed

[2015-01-16 15:58] stefanorosanelli commented on #566
did some testing, everything seems ok now
closing

[2015-01-16 15:58] #566 closed

[2015-01-16 16:09] stefanorosanelli opened #568 "dashboard: don't display last notes and comments related to objects hidden to user"
notes and comments of objects handled by modules that are not available to user should not be visible in dashboard - part of #343

[2015-01-16 16:10] #343 closed

[2015-01-16 16:13] batopa opened #569 "Clean objects permissions cache removing groups"
Whenever a group is deleted it needs to clean objects permissions cache with perms set on that group.
See #531

[2015-01-16 16:13] #531 closed

[2015-01-16 16:23] #431 closed

[2015-01-19 10:11] batopa opened #570 "Redesign exceptions and errors handling"
In order to make more flexible the handling of exceptions and error we need to better design the way BEdita handles exceptions and errors.

It is also useful for #558 when errors on json requests have to responde as json.

[2015-01-19 14:51] batopa opened #571 "release script: frontends *.php.sample has to be moved to *.php"
Restore the copy of ```webroot/index.php.sample``` to ```webroot/index.php``` and ```config/core.php.sample``` to ```config/core.php``` in frontends. Lost after #516

[2015-01-21 09:53] fquffio commented on #514
Hence "Formulas" is about to become a standalone BE module, I'd mark this issue as "Obsolete" and close it. @qwerg, do you agree?

[2015-01-21 10:43] batopa opened #572 "Fatal Error on logout"
After module forward refactor #519 the logout action raise a fatal error because ```AuthenticationController``` doesn't extend ```ModuleController``` where ```moduleForward()``` is defined.

[2015-01-21 10:52] #572 closed

[2015-01-21 11:32] fquffio opened #573 "Automatically create Card when creating a new User"
When creating a new User, a new Card should automatically be created and associated to that user.

[2015-01-21 12:18] qwerg commented on #514
yes, but add a reference to the new module repo an issues.

[2015-01-21 16:08] #571 closed

[2015-01-22 08:29] fquffio commented on #573
@batopa & @stefanorosanelli, just a couple of questions 4 u:
- what is it supposed to happen if one attempts to create a User with an email address AND/OR full name that is present in an already-existing Card? Should that Card be linked to the new User instead of creating a new one? And what if those very same values are present in more than one Card?
- should Card creation be triggered only on ne

[2015-01-22 09:40] batopa commented on #573
1. I think that if one or more Card with the same email address exist, the user should choose what to do through a modal window (new card, use existing card).

2. updating user without card should be create new one or propose to link existing card with same email.

@stefanorosanelli?

[2015-01-22 09:51] stefanorosanelli commented on #573
Agree with @batopa, from backend user may choose an existing with same email and/or same real name.
Also on user update we could verify Card presence and create it if missing.

[2015-01-23 09:42] fquffio commented on #573
Now, when creating a new User, or updating an existing one which has no Card associated, on form submission you are prompted to either choose an existing non-associated Card (match performed against email address or full name*) or create a new one.

* Hence full name search performs substring matches, the Card `First Name` would be returned in the following cases: `First Name`, `Name First`, `Mr.

[2015-01-23 15:16] edoardocavazza commented on #244
Right now, the click on a row of the object list triggers the opening of the object view page. How should the quick edit activate? @qwerg @stefanorosanelli

[2015-01-23 15:37] fquffio commented on #537
Commit 58b33f0 has a reference to this issue, but it should have referenced #573 instead. I'm sorry.

[2015-01-23 17:51] stefanorosanelli commented on #561
Did some export/import tests:

 * there's a naming issue - class name should be **BeFormat** if file name is **be_format.php** (otherwise cake may try to load a new **BEFormat** class not from be_format.php

 * customproperties import: validation error if a value is = 0 - using php _empty_ function it may result not set -- use _isset_ instead

 * categories: in validation we expect a 'name' attrib

[2015-01-23 17:53] stefanorosanelli commented on #561
Naming proposal:
 * model - instead of BEFormat - **DataTransfer** (**data_transfer.php**)
 * shell - **DataShell** instead of **FormatShell**

@batopa and @didoda ??

[2015-01-23 19:23] didoda commented on #561
New naming is fine, for me. I still haven't released epub3 import/export model and shell script, I have been working on lately. Proposals for naming? I used EPUB3Format and EPUB3Shell. Maybe I could name them EPUB3Transfer (epub3_transfer.php) and EPUB3Shell

[2015-01-29 15:38] didoda commented on #561
[code]

[2015-01-29 16:56] batopa commented on #570
### Added new http exceptions

In `bedita-app/bedita_exceptions.php` I have mapped common http error status codes with exceptions as `BeditaBadRequestException`, `BeditaNotFoundException`, etc..

### Introduced new Exception handler

While previously there was a `try {} catch() {}` block in `index.php` now in `bedita-app/config/bootstrap.php` we take advantage of `set_exception_handler()` PHP func

[2015-01-30 09:40] fquffio opened #574 "Permission system refactor?"
In order to give a better consistency and a simpler way to decide whether a User has enough permissions to read/write an object, we might consider a refactor of the permission system. I've been asked by @qwerg to write my proposal, but indeed I have two. :smirk:

At this moment, we can set "read" access to an object for a group A, and group B "read + preview 4 others" access to the very same objec

[2015-01-30 14:23] didoda opened #575 "Area view - 'publisher' and 'rights' compare twice"
Form fields repetition conflict in area/publication view.
Fields 'publisher' and 'rights' compare twice in the form.

Templates:
[code]
Possible fix: do not include form_advanced_properties.tpl in area view template, and include another template without publisher and rights (already present in form_area.tpl).

Warnings to fix in "new publication" view:
[code]

[2015-01-30 14:23] edoardocavazza commented on #558
Set up the frontend:
https://github.com/bedita/bedita/wiki/Setup-a-frontend-for-REST-API-response

[2015-02-03 14:17] stefanorosanelli commented on #562
A first implementation is present in __issue/562-media.helper-refactor__ branch
@edoardocavazza @batopa @xho can someone take a look ?

[2015-02-05 10:52] edoardocavazza opened #576 "web app capable meta data"
The main mobile browsers have implemented (or they are going to) a lot of feature for web apps development.

For example:
- Chrome on Android: now, you can add a web site to the home screen. Through an app manifest, you can specify the size of the app (fullscreen | with address bar | medium), the app icons, the start page and you can use application cache, localStorage, FileSystem and all Chrome f

[2015-02-06 10:11] stefanorosanelli opened #577 "basic EPUB 3 import / export capabilities"
Implement basic EPUB 3 import / export using #561 JSON importer / exporter
Goals:
 * export section or publication ti epub3
 * import ebpu3 into BEdita objects structure

[2015-02-06 10:12] fquffio opened #578 "Memory exhausted when creating new Section in large BE installations"
When attempting to create a new Section on a large BEdita installation with many publications and subsections, there is an issue that causes PHP to reach its memory limit. Therefore, page loading fails and an error is returned:
[code]
(By the way, 134217728 bytes = 128 MB, which seems a bit too much to load just the tree structure...)

[2015-02-06 11:18] edoardocavazza commented on #562
Something goes wrong if the param "URLonly" is passed as TRUE. It seems that it is not handled.

[2015-02-06 11:31] edoardocavazza opened #579 "beEmbedMedia->object video does not use URLonly when passed"
When you use beEmbedMedia->object on a media object of type "video", and you pass the URLonly == true param, this param is being ignored.

[2015-02-06 12:47] fquffio commented on #578
The memory leak seems to be within `BEAppModel::findObjects()`, as called within `Tree::getAll()`. There seem to be a lot of useless fields fetched from the DB. Unfortunately, there's no way to choose which DB fields one wants to be fetched (there would be an easy way to choose which fields to _exclude_, yet I find this to be quite counterintuitive).

[2015-02-06 16:31] stefanorosanelli commented on #578
Patch seems ok, but I'm not sure if we want always and as default to ignore all those fields.
We could have backward compatibility issues whit some frontends.
Better solution would be having an array of ignored fields in __$filter__ to use in every call of findObjects / getAll.
@batopa ?

[2015-02-06 17:56] stefanorosanelli opened #582 "invalidate cache if objects in off/draft status"
See #531
Now object cache is invalidated only if its new or previous status is ON.
Same should happen for OFF / DRAFT statuses - editors may want to look at DRAFT contents in staging sites for instance, and other scenarios

[2015-02-06 17:58] stefanorosanelli commented on #561
basic functionality works - closing
there are minor problems/enhancements to be handled in new issues

[2015-02-06 17:58] #561 closed

[2015-02-07 17:00] stefanorosanelli opened #583 "section priority in JSON export/import"
Contents position on sections (priority) is missing from spec, and also not persistent doing export/import of data.
We should add to the spec priority info in objects "parents" attribute
https://github.com/bedita/bedita/wiki/Default-serialized-format-for-BEdita-objects

Something like:
[code]

@batopa ?

[2015-02-07 17:26] stefanorosanelli opened #584 "JSON export enhancement - "types" and "all" options"
Shell data export should work this way:
 * using "id" option we get a section with all discendents or a publication or a single object (implemented)
 * using "types" option we get only selected types, all objects without tree positioning if "id" option is missing
 * using "all" option we get everything, every publication and every object, also "orphaned" objects not on a section

Examples:

 * exp

[2015-02-10 10:26] qwerg opened #585 "Enhancement of showUnauthorized data"
Currently if _showUnauthorized_ is set to true and the user is logged
then all unauthorized object will have set "authorized" to false regardless object permission.

It would be useful to know also if these objects have in origin permissions set or not.
At this moment a *free* object is indistinguishable form an _authorized=true_ object.

I propose for now to add _free_access = true_  (in addition

[2015-02-11 11:00] batopa commented on #585
ok, every object in frontend app has set `free_access` flag to true if no frontend access permission is set on it, false otherwise.

I have modified `Permission::frontendAccess()` method to return the string **free** if the object has not frontend access perms on it.

Now that method can return

* **free** if the object has not frontend_access perms
* **denied** if the object isn't accessible (fro

[2015-02-11 11:03] edoardocavazza opened #586 "SQL upgrade from 3.2.x to >= 3.3.x"
The SQL upgrade snippet should include the removal of the object type "author" in "object_types" table.

[2015-02-11 11:24] fquffio commented on #586
Done. Seems ok, closing.

[2015-02-11 11:24] #586 closed

[2015-02-11 11:26] edoardocavazza opened #587 "Handle homePage tpl"
If a ```home_page``` template exists in ```views/pages```, maybe should be preferred to the ```section``` one when the ```homePage``` method is called.

What do you think about it?

@batopa @fquffio @stefanorosanelli @qwerg @xho

[2015-02-11 11:30] edoardocavazza opened #588 "Remove "fixed" property"
The last user that edited a "fixed" object (adding the ```fixed``` flag), should be able to remove that property. At the moment, nobody (admins neither) can change the flag.

[2015-02-11 11:33] batopa commented on #587
Absolutely!

[2015-02-11 11:37] batopa commented on #587
@edoardocavazza may you autoassign the issue or assign to @fquffio please? :smile:

[2015-02-11 11:46] fquffio commented on #588
It should be enough to put
[code]
...just before
[code]

This way, the `fixed` key is always present in the `$this->data` array, therefore such field could not be ignored by the `BEObject::save()` method.

I could take care of this, but I don't know if this is an intentional behavior. @batopa @stefanorosanelli ?

[2015-02-11 11:58] edoardocavazza opened #589 "New section can not be saved in position "None""
Prevent the save of a section with empty position

[2015-02-11 13:36] fquffio commented on #587
I tested this on Bootstrap and Boilerplate frontends. It should be ok. @edoardocavazza @rzecchini : could you please test this on a real frontend? :smirk:

[2015-02-11 14:59] edoardocavazza commented on #587
seems ok, closing

[2015-02-11 14:59] #587 closed

[2015-02-11 15:52] stefanorosanelli commented on #588
No, it's not an intentional behavior.
If fixed is checked we should be able to remove **fixed** and return to _normal_ status display

Also: if **fixed** is checked it would be nice to see current (unmodifiable) state - now we can't see it.

[2015-02-12 08:58] fquffio opened #590 "Non-administrators backend users are able remove "fixed" property"
By simply manipulating POSTed data, even non-administrators backend users can remove "fixed" property, hence being able to edit every object in the modules they have access to.

It is possible that this bug is to be extended to frontend users as well.

[2015-02-12 09:00] fquffio commented on #588
This should be ok, now. It is needed to update every BEdita plugin module that overwrites `form_property.tpl`, as well.

Anyway, we have #590 now.

[2015-02-12 09:04] fquffio commented on #590
(It has to be noted that this bug was not introduced after #588, but was present even before.)

[2015-02-12 09:14] fquffio commented on #578
@stefanorosanelli You're right. I'll find another way! :wink:

[2015-02-12 09:21] fquffio commented on #574
The second proposal might have also the benefit of making things easier when it is needed to give access permission to a publication to two or more different groups, but restricting access to some resources (like videos, for example) to just one of them. It would be enough to set `read == PERM_FULL` permissions for all those groups to the publication, and `read == PERM_NEVER` for some of them to s

[2015-02-12 10:46] batopa opened #591 "Security: XSS attack on Newsletter mail groups"
An xss vulnerability is present on mail groups in Newsletter module.

Thanks to *Edric Teo Jin Kai* for reporting it.

[2015-02-12 10:52] #591 closed

[2015-02-12 11:02] stefanorosanelli commented on #588
Ok, closing

[2015-02-12 11:02] #588 closed

[2015-02-12 11:11] stefanorosanelli commented on #590
By non-administrator you mean users not belonging to "administrator" group ?
I don't think that's a requirement: any user with read/write access to a module/object may add or remove *fixed* property.
@batopa ?

If by "non admin" you mean non backend (frontend only) users that's actually something to avoid.

[2015-02-12 11:16] fquffio commented on #590
@stefanorosanelli In templates, the "fixed" checkbox is kept hidden to users that don't belong to "administrator" group, even if they have read/write permission for that module. Yet, those users were able to edit the "fixed" flag by sending a custom POST request (actually, any user was able to do that, regardless of groups and other permissions).

There was either a bug in controller, or a mistake

[2015-02-12 11:24] didoda commented on #583
I changed "parents" content, as described above by @stefanorosanelli. Pay attention: old json structure (without id/priority) is not accepted anymore by data_transfer->import

[2015-02-12 11:27] stefanorosanelli commented on #590
Ok, so, if we had this on template don't change it now.
I do think that's not necessary (being "administrator"), but we may want to think about it and change it in a different issue.

[2015-02-12 11:33] stefanorosanelli opened #592 "Data JSON export - warning on Audio, BEFile"
Exporting some object types we have this problems
[code]
There's something wrong with model bindings...

[2015-02-12 11:47] didoda commented on #583
"doc" updated: https://github.com/bedita/bedita/wiki/Default-serialized-format-for-BEdita-objects

[2015-02-12 12:21] stefanorosanelli opened #593 "Data JSON export - recursion errors"
With some object relations exporting complex publications we may get

[code]

[2015-02-12 13:27] qwerg commented on #574
Go for it

Il giovedì 12 febbraio 2015, Paolo Cuffiani <notifications@github.com> ha
scritto:

--
_______________
Andrea Alberti

[2015-02-12 13:49] didoda commented on #584
Examples 1 and 3, ok.
Example 2... the system export all the publications with tree. If we want another behaviour (all objects, without tree), some refactor is necessary.

[2015-02-12 17:36] stefanorosanelli commented on #583
Seems ok now for contents priorities.
But section priorities are missing - how do we handle them?
Inside "tree" array?
Should we also update the "doc"?

[2015-02-12 17:37] #593 closed

[2015-02-12 17:52] stefanorosanelli opened #594 "data JSON export/import - media and relations check consistency"
There is some inconsistency between export and import:
 * missing media files cause warning in export but output file is created - same scenario is a blocking error on import
 * undefined relation between objects is ok (no warning) in export but is a blocking error on import

General rule of thumb should be: what's exported should be importable,
Possibile solutions:
 * blocking error also in expor

[2015-02-13 15:13] fquffio opened #595 "Inconsistency in new Section creation form"
When attempting to create a new Section, there are some minor issues in view that seem to depend on which is the default tree location of the Section being created.
@rzecchini

[2015-02-13 16:34] qwerg opened #596 "Error on saving categories with non ascii characters"
On manage categories, saving a category with accented letters in label, cause the Unique Name remain blank.

[2015-02-13 16:49] fquffio commented on #596
This issue seem to be affecting objects' nicknames as well: when creating a new object with an accented character in `title`, its `nickname` is generated as if the title was left blank.

[2015-02-16 11:20] batopa opened #597 "Some parts of backend are exposed to CSRF attacks"
We need a protection againts CSRF attacks. Some modules are exposed to it.

Thanks to *Edric Teo Jin Kai* for reporting it.

[2015-02-16 15:32] #596 closed

[2015-02-16 15:33] #514 closed

[2015-02-16 16:28] #589 closed

[2015-02-16 16:48] batopa commented on #579
```URLonly``` param wasn't handled only for ```presentation = full```. With 80ac5b7 we lost all ```URLonly``` features for presentation=link and presentation=thumb.

It should be

[code]

in this way we would handle all cases correctly

[2015-02-16 16:53] batopa commented on #578
For me it's ok.
Leave open the pull request to handle ```$filter['ignoreFields']``` that can be an useful option.

[2015-02-16 16:53] #578 closed

[2015-02-16 17:08] #579 closed

[2015-02-16 17:09] #575 closed

[2015-02-16 17:15] batopa commented on #573
After 58b33f0 in frontends when a user is created a card is always created too. ```data[User][_cardToAssoc]``` is irrelevant.

[2015-02-17 09:11] fquffio commented on #573
@batopa Yes, it has been introduced intentionally as a security measure. If `data[User][_cardToAssoc]` was taken into account while creating a User from frontend app, a malicious client could have passed that argument with a valid Card ID to link its account to that Card, even if that wasn't supposed to be possible.

[2015-02-17 09:16] stefanorosanelli commented on #590
Tested, ok!

[2015-02-17 09:16] #590 closed

[2015-02-17 09:23] batopa commented on #573
@fquffio yes I know, it was a comment to also link the commit on this issue :smile:

A couple of things then we can close it:

* when you create a card always save the objects.title as 'name surname' or 'username' if no users.real_name is fill. Indeed in addressbook list cards we show objects.title.
* if card missing of 'name', 'surname' and 'email' fields, an empty row appears listing similar car

[2015-02-17 10:53] manuelzane commented on #597
Tested the most common operations like saving objects, creating and moving tree elements, plugin/out modules, creating users and groups, creating objects in plugin modules and everything seems working well.

[2015-02-17 11:05] #597 closed

[2015-02-17 12:32] #585 closed

[2015-02-17 15:00] batopa commented on #573
ok, closing

[2015-02-17 15:00] #573 closed

[2015-02-18 09:43] fquffio opened #598 "BeAppModel should look in DB for ObjectType ID if not present in configuration"
When saving a BEObject, `BeAppModel::save()` method automatically fills the `object_type_id` key with the ID of the current object type. That method looks for that ID in configuration array, but we should implement a DB lookup fallback in case `$conf->objectTypes` hasn't been populated yet.

[2015-02-18 12:36] #598 closed

[2015-02-18 16:59] edoardocavazza opened #600 "Handle Multimeda `saveAjax` errors"
If something goes wrong saving a multimedia through an AJAX request, we have not a feedback for the error.

[2015-02-19 07:38] didoda commented on #583
I guess we should put "priority" inside "tree" structure.
"validate" function already orders sections, according to parent ids. priority would simplify this process.

[2015-02-19 08:26] stefanorosanelli commented on #583
Ok, let's put in "tree" as optional attribute

[2015-02-19 11:21] didoda commented on #583
"doc" updated: https://github.com/bedita/bedita/wiki/Default-serialized-format-for-BEdita-objects

[2015-02-19 12:43] #600 closed

[2015-02-23 08:51] fquffio commented on #517
Most of the work should have been done by now.
`FrontendController` now handles correctly the `lang` parameter in URLs switching from a language to another.
Language persistence in URL cannot be achieved in an easy way, though. Many of the links in frontends are built the "wrong" way:
[code]
Because of this, we cannot simply prepend `'/lang/xyz'` to all URLs, as it may introduce unexpected behavio

[2015-02-23 16:37] edoardocavazza opened #601 "Inconsistency in controller method and view recognition"
PHP class methods are **case insensitive**, so each method can be call by url using lowercase, UPPERCASE, or camelCase. Because of in our guidelines, we define class methods in camelCase and we refer views with underscores, there is an inconsistency problem.

Examples:

controller method: `mickeyLovesMinnie`
template file: `mickey_loves_minnie.tpl`

| url | works |
| --- | --- |
| .../mickeyLovesM

[2015-02-24 15:07] batopa opened #602 "Adding link to other object raise a csrf token error"
Trying to add a link to an object (for example to a document in documents module) thrown a csrf token error because the token missing in the post data.

[2015-02-24 15:50] #602 closed

[2015-02-24 17:22] edoardocavazza commented on #576
We have a first implementation. Add your web app metadata using the `beFront` helper as follows `{$beFront->metaWebApp($publication.title, ["default" => "apple-touch-icon.png"], '#000')}`

[2015-02-24 17:25] edoardocavazza commented on #595
@fquffio Please, can you provide me an example?

Thanks

[2015-02-25 09:28] stefanorosanelli opened #603 "reuse core modules views - include path problems"
If in a plugin module (that maybe extends a core) we want to reuse a core module view we face path issues.
Say we want to include the addressbook view like this:
[code]
we then get Smarty path errors with include statement like this in the included .tpl
[code]
changing to this everything works
[code]

[2015-02-25 09:48] stefanorosanelli commented on #517
Just to clarify: we normally have

```<a href="{$html->url('/some/path')}">....</a>```

that may produce something like

```<a href="/some/path">....</a>```

Instead, using

```<a href="{$beHtml->url('/some/path')}">....</a>```

Will output, if we're using 'spa' as language

```<a href="/lang/spa/some/path">....</a>```

Correct?

[2015-02-25 09:54] fquffio commented on #517
@stefanorosanelli Yes.

[2015-02-26 09:10] stefanorosanelli commented on #517
I've seen the example in your bootstrap frontend, can you merge it in into bedita/bootstrap so we can test it?
A couple of questions:
 * is the new routing rule in ```config/routes.php ```necessary?
 * in case of single-language frontends does ```$beHtml->url()``` return same urls as ```$html->url()``` ?

[2015-02-26 09:42] stefanorosanelli commented on #576
Added to ```bedita/bootstrap``` with check that BE version is >= 3.5.2
You can see it in http://test.bedita.com/bootstrap

[2015-02-26 11:38] stefanorosanelli opened #604 "newsletter: HTML version of template not saved"
HTML version stays the default one, even if modified - PLAIN text version instead is modified

[2015-02-26 13:59] stefanorosanelli commented on #604
javascript error on ckeditor plugin is fixed
@batopa can you check if the ckeditor **beditacontentblock** plugin behavior is as expected?

[2015-02-26 18:16] stefanorosanelli commented on #583
Section priorities export is ok
Section priorities import seems ok as ordering but priority numbers are not preserved
Try to import this simple publication: section "Contact" (id 8) has priority 3 instead of 8 in the imported publication

[code]

[2015-02-27 11:34] #583 closed

[2015-02-27 11:38] stefanorosanelli commented on #570
@batopa can you transform your previous comment/description in an article in docs.bedita.com?
Then we can close this issue

[2015-02-27 13:50] qwerg opened #605 "Relations modal window: select all"
In the modal window I want to select and associate *all* search results items.

![scrnsh](https://cloud.githubusercontent.com/assets/2248878/6413436/b8c71770-be8f-11e4-80d5-bef64ff2ecc5.jpg)

[2015-02-27 17:21] stefanorosanelli opened #606 "data XML import/export based on JSON"
Implement the XML equivalent of the JSON import / export as seen in #561 and https://github.com/bedita/bedita/wiki/Default-serialized-format-for-BEdita-objects

[2015-03-01 03:36] fquffio opened #607 "Links custom properties not handled"
In backend context, it is possible to create new custom properties for `Link` model, but once they have bee created, it is not possible to set them (missing fields in `form.tpl`), or read them in frontend without creating a custom model binding. @batopa @stefanorosanelli is this intentional?

[2015-03-01 07:55] batopa commented on #607
No intention here, you can add it to form and to model bindings.

Il giorno dom 1 mar 2015 04:36 Paolo Cuffiani <notifications@github.com> ha
scritto:

[2015-03-01 08:24] fquffio opened #608 "Remove Content-Style-Type meta when document type is HTML 5"
According to [W3C](http://www.w3.org/html/wg/wiki/HTML5_Authoring_Conformance_Study#Conformance_Errors_with_Unclear_Value), `<meta http-equiv="Content-Style-Type" />` is no longer a valid meta tag, as can be stated by checking a HTML 5 document against the validator.

Could we add an optional `$docType` parameter to `BeFrontHelper::metaAll()` to serve meta tags according to the provided document t

[2015-03-01 08:27] fquffio commented on #607
Ok, thanks. Done and working, Travis CI passing. Don't think this needs further testing (in that case, my apologies).

I venture to close this issue... :fearful:

[2015-03-01 08:27] #607 closed

[2015-03-01 17:03] stefanorosanelli commented on #608
Yes, we could also introduce a $config parameter (in config/frontend.ini.php) to set frontend's doc type

[2015-03-01 17:24] fquffio commented on #608
Done. Possible values for `BeFrontHelper::metaAll()` parameter OR `$config['docType']` (if present) should be the same as for [`HtmlHelper::docType()`](http://api.cakephp.org/1.3/class-HtmlHelper.html#_docType).

@stefanorosanelli Is this ok?

[2015-03-01 17:50] stefanorosanelli commented on #584
Examples 1 and 3 work, but:
 * some relations are missing - i did an export with -types _document_ and got 10 _link_ objects but just one **link** relation
 * should we get also related objects or just objects fo requested type? extracting documents I would expect just documents, however... don't know what the exptected behavior may be

With **-all** option I would expect to get every object, on p

[2015-03-03 09:59] fquffio opened #609 "Model 'Card' is not associated with model 'GeoTag'"
Under some circumstances (especially after authenticating, as it's a moment when user's Card is always loaded and stored in Session) we get a warning:
[code]

This is due to the fact that GeoTag model appears in Card's `$modelBindings`, whilst Card is not actually associated to that model.

We should either associate Card to GeoTag, or remove GeoTag from Card's model bindings. @batopa @stefanorosa

[2015-03-03 15:37] ankitbharathan opened #610 "xss vulnerability"
http://manage.demo.bedita.com/documents/index/id:%22%3E%3Cimg%20src=d%20onerror=confirm%281%29;%3E

![screenshot_5](https://cloud.githubusercontent.com/assets/3707662/6465787/3feec5f2-c1e9-11e4-899e-271a33f5d63e.png)

[2015-03-03 15:44] ankitbharathan commented on #610
issue is expoitable without login also refer screenshot

![screenshot_6](https://cloud.githubusercontent.com/assets/3707662/6465859/c02ca5b8-c1e9-11e4-9fd2-c4003be00fb4.png)

[2015-03-03 16:22] fquffio commented on #610
@ankitbharathan Thank you for reporting this issue! We're working on it.

Issue seem to affect only Firefox. On Chrome there are some visual glitches, but no malicious JS execution.

[2015-03-03 16:23] ankitbharathan commented on #610
Chrome has a xss filter thats why it dont let javascript execute you can
simply disable xss filter on chrome and try again
On Mar 3, 2015 9:52 PM, "Paolo Cuffiani" <notifications@github.com> wrote:

[2015-03-03 16:53] fquffio commented on #610
I had to escape also `menucommands.tpl` because, if accessing to the URL in OP, then navigating towards "Create new document", the malicious code did display as the "back" URL in the left menu. This issue did affect other modules apart from Documents as well, but should be fixed everywhere by now. Also plugin modules (Tickets, Books and Glossary) should be OK.

@batopa @stefanorosanelli

[2015-03-03 17:05] batopa commented on #610
@fquffio ok, I'll have a look as soon as possible, anyway looking the commit it seems right

[2015-03-03 17:37] fquffio commented on #610
@batopa Fix'd vulnerability also on ordering fields.

[2015-03-03 17:48] stefanorosanelli opened #611 "backend: id/nickname direct lookup"
Easy direct access to a specific object by id/nickname
Currently only possibile changing url manually to: **/view/[id]** or **/view/[nickname]**

May we use the search box?
Another search input?

[2015-03-03 20:38] xho opened #612 "Events: calendar day saving is bugged"
Error in storing and retrieving/presenting selected days of the week in event's calendar entries when selecting single days in date/time range: there is no visible error, but the weekdays are wrong.

[2015-03-04 10:37] rzecchini opened #613 "Delete/turn off sections from the tree"
If I delete a section from the section-list using the "x" sign it goes into a "limbo": it is still accessible via  url+id but it is technically hidden to the user.
We probably need a place where to see all this deleted stuff (a sort of trash bin?).

![schermata 2015-03-04 alle 11 10 31](https://cloud.githubusercontent.com/assets/2392233/6482024/98b7cd9a-c262-11e4-9741-a1ecac3b8f15.jpg)

[2015-03-04 10:48] rzecchini opened #614 "Checkbox behavior inside contents list"
1. When checking the checkbox-input this event is registered as a change and it asks to save.
2. When checking the checkbox-input it should open the tools panel.

![schermata 2015-03-04 alle 11 16 07](https://cloud.githubusercontent.com/assets/2392233/6482112/33fbcd06-c263-11e4-98b2-cf5092f6eca7.jpg)

[2015-03-04 11:01] batopa commented on #573
@fquffio I moved `AddressbookController::similarCards()` to `PagesController::similarCards()` to avoid issues when Addressbook module is disabled. In this way the user is always associated to a Card and enabling Addressbook module you find out all cards created.

[2015-03-04 11:52] edoardocavazza opened #615 "Include all scripts inside a folder using a Helper"
Create a new helper with a `includeScripts` method, in order to include all javascript files inside an array of directories

[2015-03-04 14:07] fquffio commented on #517
@stefanorosanelli I'll push the example to bedita/bootstrap shortly. In the meanwhile, to answer your questions:
- it **is not** necessary in order to change language, but it **is** necessary to obtain consistency in internal links. In other words, without that routing rule, visiting http://www.my-be-site.com/lang/fra/mypage would display the requested page in French without redirection, but that

[2015-03-04 16:03] edoardocavazza commented on #613
A section without a parent has no reason to exist, in my opinion. Why should we keep it in DB? Maybe we could replace the "X" button (unlink) with "remove" button (delete), and remove the section at all. @qwerg @batopa

@rzecchini can you please move your enhancement proposal in a separated issue? Thanks.

[2015-03-04 16:38] xho commented on #611
I did a version. We may change position and icon of the button: now in the top modules menu on the right, next to search.

[2015-03-04 16:39] #612 closed

[2015-03-04 16:47] qwerg commented on #613
Yes we should keep it if is not explicitly deleted with the delete button+confirm. A short X command its to easy to perform. So we can simply change his status to off, or use a sort of trash can (we have an issue about this #?)

[2015-03-04 16:52] qwerg commented on #611
Can we include it directly in the search form Field?
maybe with an #

[2015-03-04 17:03] fquffio commented on #613
@qwerg Yes, #102.

[2015-03-04 17:05] fquffio commented on #605
@qwerg Done. It seems to be working. Could you please test a bit and close if everything is ok? :smile:

[2015-03-05 08:11] rzecchini opened #617 "Manage the section status within the sections list"
Enhancement: be able to directly manage the section status (eg. select the section via checkbox and change the status parameter—on, off, draft).

![schermata 2015-03-04 alle 11 10 31](https://cloud.githubusercontent.com/assets/2392233/6501358/85681f5a-c317-11e4-90c0-6a600a1f801a.jpg)

[2015-03-05 08:14] rzecchini commented on #613
enhanc. proposal moved

[2015-03-05 10:19] qwerg commented on #605
Ok. The label "select all" is missing, but the behaviour is so obvious, that it's probably useless.

[2015-03-05 10:19] #605 closed

[2015-03-05 15:15] batopa opened #618 "First user created become system user and it has to be not removable"
The first user created in BEdita become also the system user and it has to be not removable. For backward compatibility we use the user with id *1*.

Todo:

- [x] add a method `BeSystem::systemUserId()` (or similar) that return 1
- [x] replace `BEObject::defaultUserId` with `BeSystem::systemUserId()`. I think It only used in `BEObject::_getIDCurrentUser()`
- [x] remove the ability to delete that s

[2015-03-05 15:23] batopa opened #619 "Automatic Card creation on login do not set user_created and user_modified fields"
After #573 when a user without Card associated logs in to backend, a new Card is correctly created but user_created and user_modified are not populated.

Those fields should be set to system user #618. I propose to add to form fields on login a field *data[_useSystemUser]* and in `User::afterSave()` if the user hasn't a Card associated with it and that field is populated then set *user_created* an

[2015-03-05 15:45] stefanorosanelli commented on #619
Ok for me

[2015-03-05 17:50] stefanorosanelli commented on #611
Changed label: _unique name_ instead of _nickname_
@qwerg: I think the action here is different: it's a **go to**, not a **search for** - but you may change UI...

[2015-03-05 18:17] #603 closed

[2015-03-06 14:21] #610 closed

[2015-03-06 15:01] #604 closed

[2015-03-06 15:51] stefanorosanelli commented on #618
We could also introduce default value for **objects.user_created** and **objects.user_modified** fields
[code]

[2015-03-06 18:13] stefanorosanelli opened #620 "addressbook: country select box is not working"
In addressbook card view __country__ select box doesn't display current card's country

[2015-03-06 18:18] stefanorosanelli opened #621 "addressbook: bulk operations on newsletter mailgroup"
Add (or re-enable) bulk operations on cards: add to/remove from newsletter mail groups

This feature was present in some previous releases, but seems disappeared now...

[2015-03-07 16:02] stefanorosanelli commented on #608
It's ok
Only not sure about the best default - actually 'html5' should be default nowadays
Anyway we could keep it for minimum backward compatibility
Closing

[2015-03-07 16:02] #608 closed

[2015-03-08 12:04] xho commented on #620
A common list of countries with ISO code was added as an array in new configuration file:
`countries.iso.php`.

[2015-03-09 14:51] stefanorosanelli commented on #611
Reopen issue, if we use this lookup from a plugin module we get this error
__Security error: CSRF token is invalid. Please try to resubmit the form__ and lookup doesn't work

Frome a core module everything is ok

@batopa is there a quick fix for this?

[2015-03-09 14:53] stefanorosanelli commented on #611
see #597 #602

[2015-03-09 15:15] stefanorosanelli commented on #621
Association ok - Remove association button is not responding (tested on both chrome/firefox)

What do we do if one or more cards don't have e-mail? should we inform the user?
On missing email there will be no association.

[2015-03-09 15:38] batopa commented on #611
It's a bit complicated. We should upgrade all plugin modules to handle CSRF token.

We could work around the issue in two ways:

1. move that function in ModuleController instead of PagesController so only modules that are protected against CSRF will receive the error if some attacks happens. Pay attention that plugin modules that have no `BeSecurity` component enabled will be exposed to CSRF atta

[2015-03-09 17:14] stefanorosanelli commented on #620
Found a little problem: if you don't select a country saving a card it will get the first on the list (currently Afghanistan) as default  country is saved on db
We should be able to leave this field NULL as default

[2015-03-09 17:52] #620 closed

[2015-03-09 17:53] #621 closed

[2015-03-09 17:58] stefanorosanelli opened #622 "newsletter: error in unsubscribe items from mail group list"
Bulk operation to unsubscribe items from mail group list doesn't work: ajax operation fails with "500 Internal Server Error"

[2015-03-09 18:00] stefanorosanelli commented on #622
Error log:
__Security error: CSRF token is invalid. Please try to resubmit the form__

[2015-03-09 18:15] stefanorosanelli commented on #622
@xho can you test it?

[2015-03-09 18:30] #622 closed

[2015-03-09 18:35] #611 closed

[2015-03-10 01:48] sebastienmorin75 opened #623 "Vulnerability in BEdita 3.5.1"
Hi,

I have found multiples XSS vulnerability in Bedita 3.5.1. Contact me at sebastienmorin75@gmail.com to get more details.

Best regards,
Sebastien Morin

[2015-03-10 07:59] batopa commented on #623
I have contacted Sebastien Morin. Waiting for more info.

[2015-03-10 11:42] xho opened #624 "General review of Newsletter module"
General improvements of newsletter module:
- [x] send now feature: adds current date and time rounded by 5 minutes before saving
- [x] template not associated with a publication are not listed in select box in form_content_newsletter
- [x] javascript controls to avoid save and send without sender email
- [x] various visual and interaction improvements (clickable labels, time pulldown…)
- [x] creat

[2015-03-11 11:40] fquffio commented on #618
@stefanorosanelli At the moment, in `BEObject::_getIDCurrentUser()` the system user ID is used only if class `CakeSession` doesn't exist (I suppose that it means that sessions have been disabled completely by conf). In case sessions are enabled, but an object is created by a non-logged user, `null` is returned instead, which by the way is a value not accepted by corresponding SQL table fields. :co

[2015-03-11 12:50] batopa commented on #623
I received  the PoC from Sebastien Morin and I can confirm the vulnerabilities. All the team was informed.

I'm working on it to fix the issues.

[2015-03-11 15:16] stefanorosanelli commented on #618
Let's say that `BEObject::_getIDCurrentUser()` should not use `CakeSession` - current user id should be set directly from controller or caller in general (maybe as a BEAppObjectModel attribute?)

In this case however, if we don't find current user we could:
 1. return system ID
 1. return null - system ID will be set by SQL default (if we introduce it)

Both are acceptable

[2015-03-12 08:41] stefanorosanelli commented on #592
Now it works for `BEFile` and `Audio` objects but we should use a model binding (like 'default' or 'minimum'), we cannot handle any possible case... in a new issue, closing this

[2015-03-12 08:41] #592 closed

[2015-03-12 08:48] stefanorosanelli opened #625 "Data JSON export - use model binding"
Enhance #592 with a more general solution: use one of the model bindings, without trying to define all possible bindings

[2015-03-12 17:03] stefanorosanelli commented on #594
missing media and unknown/not allowed relations are both handled with warning

[2015-03-12 17:03] #594 closed

[2015-03-12 17:13] stefanorosanelli opened #626 "data export: don't add custom properties config if a type is not exported"
Using _-types_ option in data export, like
[code]
in resulting _config.customproperties_ array only custom properties of selected types should be present

[2015-03-12 17:55] stefanorosanelli commented on #584
Using **-types** option we may want to export:
 1. those types and only related objects of those types
 1. those types and also related objects of some types
 1. those types and all related objects

Current scenario is 3. Don't know if it's a good default, but we can keep it.

We then need two more options:
 1. **--exclude-other-types** to exclude other related types, if **-types** is used, otherw

[2015-03-12 17:57] stefanorosanelli commented on #584
We could also move **-all** option implementation to a new issue

[2015-03-12 18:04] stefanorosanelli opened #627 "data JSON export/import - more result info"
Add some info at the end of shell import/export operation:
 * export: file created - if file was actually created
 * import: import ended without blocking errors
 * export/import: simple statistics of object per type, like:
   * objects imported/exported: 12
       * document: 2
       * image: 3
       * ....

[2015-03-13 09:52] stefanorosanelli opened #628 "data export: -relations option"
Add **-relations** option to data export to fetch only a subset of existing relations
something like:
[code]

[2015-03-13 09:55] #623 closed

[2015-03-13 12:04] stefanorosanelli commented on #627
Ok in log file, but some info should be present in shell standard output
I will add this myself.

[2015-03-13 12:25] #628 closed

[2015-03-13 15:45] stefanorosanelli commented on #625
Some data are missing, example exporting an Event with Calendar and GeoTag we get something like:
[code]
where Calendar and GeoTag data are missing...

[2015-03-13 17:29] fquffio commented on #606
@stefanorosanelli @didoda Should be fine and working. I've added a `XmlJsonConverter` business model that tries to obtain an array representation of a well-formed XML tree and vice versa. This uses a slightly different format from the one seen in [this draft](https://github.com/bedita/bedita/wiki/Default-serialized-format-for-BEdita-objects#xml-example), and I will update that document soon, so th

[2015-03-18 10:43] stefanorosanelli commented on #182
done in #503 closing

[2015-03-18 10:43] #182 closed

[2015-03-18 11:11] stefanorosanelli opened #630 "multimedia: blank uri but hash_file has value"
On a production system we have this scenario:
 * streams.uri field is blank, image without file
 * streams.hash_file has a value

This should not happen - add control and error message.

[2015-03-18 15:26] stefanorosanelli opened #631 "addressbook: import/export vcard/CSV"
From ui backend import and export in following formats
 * vcard
 * CSV
 * custom CSV (**)

Same behavior should also be available from shell

(**) custom CSV means: custom field names

[2015-03-18 15:26] stefanorosanelli commented on #224
obsoleted from #631

[2015-03-18 15:26] #224 closed

[2015-03-19 11:19] fquffio commented on #625
Export now uses "default" model binding (if present) as specified in `TheModel::$modelBindings` array, or one of the two model bindings provided by default in `DataTransfer` model (either stream binding, or object binding) as a fallback.

Now, for example, exporting an Event will result in obtaining its `DateItem` data.
[code]
GeoTag data is still missing, because it is still in "to do" in `DataTr

[2015-03-19 11:27] fquffio commented on #619
We could find out if its a login attempt by checking against presence of key `login` in `$this->data` array. I'd rather not add a hidden field to a login form, as this would be too easily exploitable. @batopa @stefanorosanelli ?

[2015-03-19 14:53] batopa commented on #619
@fquffio mmm, maybe it was already solved with #618. Isn't it?

[2015-03-19 15:41] stefanorosanelli opened #632 "publications: "create new section here" is not working"
From a section if you click "sections only" /  Tools / "create new section here" opens a new section view but current position is on first publication not in previous section.

[2015-03-19 15:52] stefanorosanelli commented on #625
Yes, also `GeoTag` should be present, it was not included in my example but we surely need it.
This issue is fine

Maybe `DateItem.id` field is not useful and could be dropped in export? Is there a risk to override an existing id?
Is `DateItem` correctly imported this way?

[2015-03-19 15:57] stefanorosanelli commented on #626
There are two exceptions to handle:
 1. if we are exporting a publication also **config.customproperties**  for type _section_ and _area_ must **always** be present
 1. if we are exporting a section also **config.customproperties**  for type _section_ must **always** be present (in this case we don't expect to have publications)

[2015-03-19 17:33] stefanorosanelli commented on #606
XML draft format seems OK
XmlJsonConverter could go in libs instead of models?

Did some testing on a publication with many documents, images and so on...
Export seems ok - in import relations are not handled correctly - no relation was imported

I may provide an example to use if necessary

[2015-03-20 08:28] fquffio commented on #632
Seems it was me to introduce this issue after #578. Sorry about that. :pensive:

[2015-03-20 09:38] stefanorosanelli commented on #632
Test ok, closing

[2015-03-20 09:38] #632 closed

[2015-03-20 10:25] #627 closed

[2015-03-20 10:32] fquffio commented on #619
@batopa Did some testing, and it looks like you are right once again.

[2015-03-20 11:20] fquffio commented on #625
@stefanorosanelli `DateItem.id` has been removed, as well as `DateItem.object_id`, hence both of these fields are handled automatically while saving the new object in import, and their presence in exported JSON might have caused overwriting of an existing DateItem or associating the DateItem to another object, respectively (apart from giving no useful information at all). `GeoTag` is now being han

[2015-03-20 11:29] didoda commented on #625
@fquffio :+1:

[2015-03-20 11:53] qwerg opened #633 "home controller: public function view($id) error is not correctly handled"

[2015-03-21 17:35] qwerg opened #634 "Animated gif should be preserved by beEmbedMedia"
When apply beEmbedMedia on an animated gif, all the animation frames are lost.
Consider to skip image manipulation and thumbs in presence of an animated 8bit gif
(we can wrap and css resizing only)

[2015-03-22 10:54] #633 closed

[2015-03-24 15:05] stefanorosanelli opened #635 "admin / system info - check requirements"
In __system info__ display a warning message if some of the requirements are not met:
http://www.bedita.com/documentation/requirements

Tyipically missing php modules or other 3rd party versions mismatch

[2015-03-25 08:44] qwerg opened #636 "User module / view user: show user created objects"
On user detail view, show and link a list of the user created objects.

[2015-03-25 09:25] stefanorosanelli opened #637 "BeThumb: mime type recognition fails on known file extension"
mime type recognition happens to fail on a .JPG file extension...

[2015-03-25 14:02] stefanorosanelli commented on #317
obsolete - id/nickname lookup done in #611

[2015-03-25 14:02] #317 closed

[2015-03-25 14:35] #637 closed

[2015-03-25 14:41] stefanorosanelli opened #638 "list filter: show objects with custom property specific value"
Filters enhancement: now we can only filter objects that have a certain custom property set - we need also a new filter to show objects with a custom property value, so:
 * current feature should work
 * we may add a value to look for a value match
 * if custom property is an options list it would be nice to have a select/combo with these values

Future enhancement: extend to other fields - not on

[2015-03-25 14:42] fquffio commented on #541
The same issue happens with "count_annotation" filter.

[2015-03-25 19:05] fquffio opened #639 "Associated models are merged into main object in BEAppModel::findObjects()"
In `app_model.php`, in `BEAppModel::findObjects()` we have:
[code]

Merging the `$item` array with `BEAppModel::am()`, under some circumstances, might lead to unexpected results, like overwriting the object's ID. For instance, it might happen that a `DateItem` related to the object overwrites some of its properties. :neutral_face:

This bug happens only if `$conf->searchEngine` is non-empty and th

[2015-03-25 21:37] stefanorosanelli commented on #635
It's ok
Maybe we could load requirements.php only in admin/systemInfo

[2015-03-25 21:41] stefanorosanelli commented on #626
Test failed.
Exporting with ```-types short_news -relations attach``` i get these results:
[code]
but exported json file contains customproperties of type *area*

[2015-03-25 21:47] stefanorosanelli commented on #606
Ok. Merged to 3-corylus
Please remove issue branch.

[2015-03-25 21:47] #606 closed

[2015-03-26 08:15] didoda commented on #626
@stefanorosanelli  short_news or images were inside area? in that case, export is correct
I'll check myself with another example

[2015-03-26 09:30] stefanorosanelli commented on #626
short_news were inside areas/sections but areas/sections were not exported
fixed now

[2015-03-26 09:30] #626 closed

[2015-03-26 19:32] edoardocavazza commented on #517
up!!!!

[2015-03-27 08:58] stefanorosanelli commented on #517
I know, I know....

[2015-03-27 10:09] #55 closed

[2015-03-27 10:17] stefanorosanelli opened #640 "ui: handle import/export filter dynamic options"
* in import/export filter model classes define options to use, using: option name, option values for a fixed list or a description for input parameter (like custom properties?)
 * those options are registered in config, like names and mime types
 * in UI when we select a filter we show those options: a combo/select if there's a fixed list, an input text otherwise

a more general solution to #415

[2015-03-27 13:55] didoda commented on #640
Data structure sample... an idea:
[code]

[2015-03-27 14:49] stefanorosanelli commented on #415
moved to #640

[2015-03-27 14:49] #415 closed

[2015-03-27 15:50] stefanorosanelli commented on #104
Part of this has been done #530 and #531
Close this, will reopen a new one for BE 4, also looking at Cake3 tools

[2015-03-27 15:50] #104 closed

[2015-03-27 15:54] stefanorosanelli commented on #113
Obsolete
To check in Cake3

[2015-03-27 15:54] #113 closed

[2015-03-27 18:14] stefanorosanelli opened #641 "new data import page on backend"
New data import page (may be part of a future module)
 * use `HomeController`, link on the left near `Home`/`Profile` links
 * use available import filters, like in `Publications / Tools / Import`
 * show preview if (available)
 * show results summary and other info, link to new data (if available)

[2015-03-28 03:24] edoardocavazza commented on #485
@stefanorosanelli may you help me to find out why Travis fails the tests please?

After that, I think that we are ready for the testing.

I have introduced 3 new models:
- Git: a model that implements the R(evision)C(ontrol)S(ystem) interface, for git repository handling
- Svn: a model that implements the RCS interface, for svn repository handling
- Revision: an helper model that uses `Git` and `S

[2015-03-28 06:08] edoardocavazza commented on #485
moved to another branch `issue/485-software-update-2`, too much problems with merging `3-corylus` into the old one. Now Travis validation is ok.

Now the [test instance](http://test.bedita.net/) points to `issue/485-software-update-2`

[2015-03-28 06:25] edoardocavazza commented on #635
Maybe, we should add a warning level to each one requirement. The PHP version is a blocker requirement, as well as DB versions. `gettext` extension is not a blocker feature instead. Also, we could stop the app if the minimum requirements are not satisfied (in setup too), and leave the warnings in admin/systemInfo.

What do you think about this? @stefanorosanelli  @fquffio

[2015-03-28 06:28] edoardocavazza commented on #190
@stefanorosanelli @qwerg

Can we close this issue and open a new one for new features?

[2015-03-28 10:35] fquffio commented on #635
@edoardocavazza In case PHP major/minor version is too old, it occurs a fatal error in pre-compile phase, as PHP syntax has significantly changed across minor versions of PHP 5 (terms as of [Semantic Versioning](http://semver.org)), and plenty of backwards-incompatibilities have been introduced even if this wasn't really supposed to happen. If we actually want to add a helpful warning for users ru

[2015-03-28 11:34] stefanorosanelli commented on #190
agreed, please close this issue and open new

[2015-03-28 11:47] stefanorosanelli commented on #635
@fquffio I would not handle cases where PHP version is too old... what you suggest is correct, but users should have a look at real requirements and I don't want to handle any possible situation...for "close" minor versions this warning may help

To summarize and simplify @edoardocavazza proposal: display as error (and not simple warning) any DB/PHP issue, keep warning for PHP modules.

Also curre

[2015-03-29 16:41] xho opened #642 "Maximize button for rich text editor in Newsletter module"
Maximize button has been removed when we switched to CKeditor, because of a bug in this plugin that overwrites all parent styles when maximizing. At least in Newsletter it should be available, since editing fixed width HTML larger than the textarea is difficult.

[2015-03-29 16:49] xho commented on #642
I made a fix that works in newsletter module, but I had to disable the ESC key binding (if pressed while maximized it changes the css of tabs and everything disappears).
Fixing this, I also reviewed a bit the main BEditaUI.js.

We should consider upgrading CKEditor, maybe the bug is solved.
(and also finally remove traces of TinyMCE which we definitely not support anymore).

[2015-03-30 07:00] edoardocavazza commented on #642
#411 we already have an issue for that.

[2015-03-30 07:30] xho commented on #642
Ok, I made this as a temporary solution just for Newsletter module, since there you usually edit fixed width html content. An update of CKeditor may solve this and other minor issues.

[2015-03-30 10:46] qwerg commented on #640
I suggest to use a separate view like the actual demo page
/admin/importData
for the export / import options and choices.

[2015-03-30 11:04] qwerg opened #643 "Export / Import view page"
For #640 removing the actual modal window for import and export user options and functions, in favor of a stand-alone separate view, like /admin/importData.

To think about:
* use admin or home controller? Or a new module controller?
* how to setup group privileges to the export-import functions?

[2015-03-30 11:04] stefanorosanelli commented on #640
yes, new import page is in progress in #641
we could create an element .tpl for the view and then use it in this page or elsewhere

export is not handled in #641 but options mechanism is the same for import / export

[2015-03-30 11:07] qwerg commented on #643
Issue can be merged in #641

[2015-03-30 11:09] #643 closed

[2015-03-30 11:18] edoardocavazza opened #644 "Message box refactor"
After #570, we should redesign also the message box usage in the backend, in order to have a better implementation for ajax response. If @qwerg @batopa @stefanorosanelli agree with me, I can start to do that.

[2015-03-30 13:43] #634 closed

[2015-03-30 13:43] qwerg commented on #634
well done

[2015-03-30 17:20] stefanorosanelli commented on #631
Implemented:
 * shell import / export
 * backend export

Note: __custom CSV__ is used instead of _Microsoft Outlook CSV_ if
[code]
returns some configured custom fields

Backend import will be implemented in other issue after #641

[2015-03-30 17:23] #642 closed

[2015-03-31 08:56] stefanorosanelli commented on #485
Seems ok, good job!
The only problem left is user message with update details and general git/svn output - current message box is not working for that: small display box, disappears quickly
do we have to wait for #644 ?
or we could use a custom modal or in page ajax div

[2015-03-31 09:02] stefanorosanelli commented on #644
Yes!
Also @xho may have some ideas/suggestions on the topic

[2015-03-31 09:09] edoardocavazza commented on #485
Maybe we could just prevent the auto fade out in this case, without wait for #644

[2015-03-31 09:29] stefanorosanelli commented on #485
OK, let's do that, so we can close this

[2015-03-31 10:54] fquffio commented on #625
@stefanorosanelli @didoda Added `LangText` handling. Translations are now exported this way:
[code]

This export format is also handled during import, making translations persistent across import/exports. Is this format ok? Could you please help me test this?

[2015-03-31 11:11] edoardocavazza commented on #485
Done! Now the view is dynamically updated with new commit data too.

[2015-03-31 11:44] didoda commented on #625
I would get rid of "created_by" and "modified_by".
What happens when there's more than one field translated (i.e. title, description)?
Every translation is collapsed inside single "lang" obj? it would be fine

[2015-03-31 13:00] stefanorosanelli commented on #625
Agree with @didoda, as format I would use:
[code]
Are multiple fields (title, description, body,....) already handled this way?

[2015-03-31 15:00] xho opened #646 "Newsletter: get content does not work, a javascript function is missing"
Moved last task from #624 in a new issue

[2015-03-31 15:01] #624 closed

[2015-03-31 15:51] stefanorosanelli opened #647 "implement csv cards import filter"
create new `CsvCardImportFilter`

[2015-03-31 15:54] stefanorosanelli opened #648 "XML import/export filters"
Current XML import / export filters in `models/filters` are deprecated and should be replaced with new format and logic as in #606

[2015-03-31 15:59] #631 closed

[2015-04-01 17:24] xho commented on #640
I agree with Dante as regards the options array, but i suggest a couple of things.

* each option should also contain the following informations:
   * is the option mandatory? (required to proceed with import)
   * is there a default value?
* also there should be an option that tells if data imported are placed in a branch of the publications' tree (and it should also be defined as mandatory or no

[2015-04-01 18:06] stefanorosanelli commented on #640
Also (in another issue?) introduce `$typeLabel` as more descriptive filter label in backend UI.
`$typeName` should not contain spaces and be _shell_ friendly as it's also used via command line

[2015-04-02 06:08] didoda commented on #640
Data structure sample updated:
[code]

[2015-04-02 07:29] fquffio commented on #625
After getting rid of `created_by` and `modified_by`, the output result is as follows:
[code]

Al the translated fields are outputted within the `lang_texts.<langcode>` object.

[2015-04-02 07:36] stefanorosanelli commented on #625
Ok, I would use SQL datetime like `"2015-04-02 09:18:31"` instead of timestamp for readability on `modified_on/created_on`

[2015-04-02 07:40] stefanorosanelli commented on #640
OK
`chooseTreePosition` or `treePosition` (default false) should be a property of the import class filter, not the option

[2015-04-02 12:54] didoda commented on #640
A real case from #641:
[code]

[2015-04-02 13:32] didoda commented on #584
2 more options **--exclude-other-types** and **--related-types** are fine.

[2015-04-02 13:35] qwerg commented on #504
@stefanorosanelli take a look!

[2015-04-02 15:02] stefanorosanelli commented on #504
Seems ok.
Is there a pagination? In case of many contents/sections...
@xho have a look.. (branch: issue/504-publications-review-detail-page)

[2015-04-02 15:30] qwerg commented on #504
Only "contents" are paginated.

[2015-04-03 10:14] edoardocavazza opened #649 "Add media attach relation from CKEditor"
Add a new button to CKEditor for media relation inserting, using the BEmodal.

[2015-04-03 10:15] edoardocavazza commented on #190
New issue here #649

[2015-04-03 10:15] #190 closed

[2015-04-03 10:16] edoardocavazza commented on #614
@fquffio can you test and close it?

[2015-04-03 10:17] edoardocavazza commented on #595
@fquffio can you test and close it please?

[2015-04-03 10:19] edoardocavazza commented on #614
Changed 2nd point in:
- When checking the checkbox-input it should open the <del>tools</del> <ins>bulk actions</ins> panel.

[2015-04-03 10:36] fquffio commented on #614
Seems ok. Closing.

[2015-04-03 10:36] #614 closed

[2015-04-03 10:41] #595 closed

[2015-04-03 12:40] stefanorosanelli opened #650 "Wrong user_created / user_modified saving some objects"
relates to #482
saving cards, sections, editor notes, tickets from backend (maybe other models to) we get wrong user_created /user_modified - they are set to 1 (system user)

this happens with current 3-corylus branch if objects.user_modified / user_created have default '1' like defined in `bedita-app/config/sql/upgrade/1-3.4-to-3.5-schema.sql`

[code]

[2015-04-03 13:16] #639 closed

[2015-04-03 13:24] batopa commented on #541
It seems that you have only commit on master branch. Could you cherry-pick it on 3-corylus?

[2015-04-03 13:50] batopa commented on #541
@fquffio sorry my mistake. I have looked at commit detail on github and it shows that commit on branch master. *The patch is also rightly landed in 3-corylus*.
Closing

[2015-04-03 13:50] #541 closed

[2015-04-03 15:59] qwerg commented on #505
Yes, but there's not an index page in publications.
We can
a) create an index and add a search results page in this module, or
b) extend the actual basic micro search in home page, creating a more advanced cross-modules full search page and results. A search in publications will redirect to this page.

[2015-04-07 08:45] stefanorosanelli commented on #505
Prefer solution *a)*
We could use same patterns of oher modules for object lists and apply same filter
In this case _index_ could not be the default entry page in module

[2015-04-07 09:01] stefanorosanelli commented on #641
Seems ok.
I would prefer results input options and results on the same page, so we shouldn't click and return to import page for a new import

Preview feature could be moved to a new issue

[2015-04-07 09:03] stefanorosanelli commented on #648
Seems ok
We could also add some import/export options defined in #640
Closing now

[2015-04-07 09:03] #648 closed

[2015-04-07 09:06] stefanorosanelli commented on #635
@fquffio you can close it ... or are you still working on it?

[2015-04-07 09:09] #635 closed

[2015-04-07 09:42] didoda commented on #640
TODO: 'destination/tree' option. Idea: if option contains 'id' then UI shows publication(s) tree with checkboxes or radio (multipleChoise false|true), to choose destination for import data

[2015-04-07 09:52] qwerg commented on #505
Agree with (a).
Even so I think an advanced cross object search (b) it's also necessary.

[2015-04-07 10:10] batopa commented on #619
ok, closing

[2015-04-07 10:10] #619 closed

[2015-04-07 10:10] stefanorosanelli commented on #640
Agree with @didoda we could:

a) introduce a _special import option_ __id__
If present we should show publications tree UI to select destination (maybe also numeric id as option)
_multipleChoice_ probably makes no sense in this context (destination id should be unique), but it could be mandatory

b) we could use a __special dataType__ _tree_ to select tree positions and show publications tree UI

[2015-04-07 10:53] qwerg commented on #641
* Why the "save" button on left column?
* Agree with @stefanorosanelli, same page for results and options. Options set for the last import should be preserved/checked.

[2015-04-07 11:24] fquffio commented on #568
@stefanorosanelli Did a bit of testing on 3-corylus branch. It looks like this works already this way. :confused:

Admin view:
![admin](https://cloud.githubusercontent.com/assets/7108146/7022158/307c811c-dd29-11e4-87af-d9308a4426ea.png)

User view (unauthorized to access Addressbook module):
![user](https://cloud.githubusercontent.com/assets/7108146/7022163/38a1bae2-dd29-11e4-958c-11581d31aa7c.png

[2015-04-07 13:35] stefanorosanelli commented on #641
"Save" button removed

[2015-04-07 16:13] #630 closed

[2015-04-07 16:34] stefanorosanelli commented on #625
Export of `DateItem`, `GeoTag` and `LangText` seems ok
Why `lang_texts` instead of `LangText` ? (`LangText` would be more  consistent)

[2015-04-07 16:38] stefanorosanelli commented on #625
Testing a single event import I get an error... @didoda @fquffio do I have to open a new issue?
Trying to import this json
[code]
I get this error:
[code]
but tree is not needed here (parents array is empty)

[2015-04-07 16:42] stefanorosanelli commented on #568
You are right - solution was committed in #303
Closing

[2015-04-07 16:42] #568 closed

[2015-04-07 16:45] #484 closed

[2015-04-07 16:52] stefanorosanelli commented on #485
ok! please merge it to 3-corylus
you can close the issue after merge

minor enhancements (news issues):
 * add link to git web interface (github, gitlab...)
 * refresh git info after ajax update - now we are seeing previous info

[2015-04-07 18:08] edoardocavazza commented on #485
merged.

- ```refresh git info after ajax update - now we are seeing previous info```

it should already work.

- ```add link to git web interface (github, gitlab...)```

do you mean a generic link for the repository or the link to the last commit?

[2015-04-08 07:13] didoda commented on #625
@stefanorosanelli, tree is not needed, right. it's a bug to fix. new issue? maybe not necessary... we could fix and release in here.
Case to handle (it's not an error):
 => empty tree, objects without 'parents'

[2015-04-08 07:52] stefanorosanelli commented on #485
Link to repository and branch or single commit would be nice... maybe we could add some info to .git/config ?

After update I see previous values for __Last commit: .. - on date: ... - by: .... __ refreshing the admin page I get new ones. We could live with that....

[2015-04-08 15:12] stefanorosanelli commented on #504
Seems good!
A useful additional filter could be: see only sections or only publications
As label above filter, instead of __areas__ we should have __publications, sections__

@batopa what do you think?

[2015-04-09 06:14] didoda commented on #640
How could 'special import option id' be?
[code]

[2015-04-09 06:47] didoda commented on #641
commit "526c898" to merge to "issue/641-new-data-import-page" branch?

[2015-04-09 08:11] stefanorosanelli commented on #640
Using __tree__ dataType we don't need a special option __id__ , we could use any name
seems a better solution, proposed structure is fine, proceed with this

[2015-04-09 09:09] stefanorosanelli opened #651 "data import - use http URL as source media root"
As import option we could use an http base URL as source media root instead of path on local filesystem (e.g. base media URL of original BEdita instance)

As a consequence we should be able to export without writing media files with a new option: __--no-media__

[2015-04-09 09:09] didoda commented on #641
merged with 3-corylus. maybe we could drop remote branch issue/641-new-data-import-page

[2015-04-09 12:20] stefanorosanelli opened #652 "data JSON export/import from backend via filter"
Create filter classes to import/export JSON using surrent logic
Don't export media files

Add option to import media files from base URL or path on local filesystem

[2015-04-09 14:11] fquffio opened #653 "Error enabling addon behaviors"
Hence behaviors are placed within `addons/models/behaviors` folder, an error is raised when trying to enable or disable a behavior addon in Administration module, as it is being searched in `addons/behaviors` instead.

[2015-04-09 16:16] fquffio commented on #470
Following the path of what suggested by @batopa I added:
- a `BeCallbackManager`, that aims to be a basic event manager: one can bind/unbind listeners to an event, and trigger that event. Listeners can be either closures or arrays containing a class name (as aliased in `ClassRegistry`) and a method name. When triggering an event, an array of data can be associated to that event. For compatibility

[2015-04-09 16:33] stefanorosanelli commented on #470
Ok, if I understand we could add `CallbackBehavior` in model definitions to enable the automatic callback behavior discovery and setup and use `BeCallbackManager` to bind/unbind specific listeners.
Seems ok, will do some testing.
I assume the workflow would be:
 * activate new custom behavior `MyModelWhateverBehavior` - in addons or in any plugin module?
 * BEdita cleanup
 * from first use new beh

[2015-04-10 07:38] fquffio commented on #470
@stefanorosanelli As of c63a583 `CallbackBehavior` has already been attached to `BeAppObjectModel`, so every BE Object model event is already bindable this way.

Behaviors are fetched from every possibile location, meaning plugged modules, addons, frontends, ...

I did some basic performance tests, and as this feature uses only built-in Cake methods to find out which available behavior names match

[2015-04-10 08:17] stefanorosanelli commented on #470
Thanks, did a simple text creating behaviors inside a plugin module and it works.
Good job!

[2015-04-10 08:19] stefanorosanelli commented on #470
Having a configuration switch is a good idea, keep it in mind for now, we will implement it only in case of real performance issues.

[2015-04-10 08:21] didoda commented on #652
TODO: UI for export options (#640, #641, or new issue?)

[2015-04-10 08:34] stefanorosanelli commented on #652
#641 deals only with import
#640 is quite general, but has overlaps with #641 and we could probably close it (will chek and do it)
As for export we have many possible entry points:
 1. export in list filter, like currently in addressbook CVS/vcard export, we could add a generic export button
 1. export a single object
 1. export a section/publication, currently available

We could work (and fix) c

[2015-04-10 08:58] didoda commented on #652
@qwerg @xho, do you think we could have another solution, instead of export in "modal"? maybe we could have an "export block" in every single object view (containing options, like in import page). We already have "export" button in section/publication, with modal... is it ok, or we could drop that button and use an "export block"? I guess we need a new issue :)

[2015-04-10 10:21] batopa commented on #570
Write the documentation on staging site. We'll promote to official docs when the new BEdita version is released

[2015-04-10 10:21] #570 closed

[2015-04-10 13:05] #653 closed

[2015-04-10 14:05] qwerg opened #654 "Links translations not handled"
Handle translation of title and description in webmarks module.

[2015-04-10 15:16] #654 closed

[2015-04-10 15:17] batopa commented on #470
I'm doing some simple test.
I receive a Fatal Error in `beforeFind()` and `afterFind()` after cleanup cache. After that all seems to work properly.

I have a simple Behavior in `addons/models/behaviors/enabled/document_test_behavior.php`.

[code]

doing

[code]

and loading a document I have

[code]

Then reloading the page it all works and I see the message in `debug.log`

[2015-04-10 15:23] qwerg commented on #23
I think color and label should stay simply a module owner choice... closing?

[2015-04-10 15:42] qwerg commented on #613
resolved in #504

[2015-04-10 16:08] fquffio commented on #470
@batopa Committed a fix for that issue, as well as a minor performance improvement when loading behaviors list.

[2015-04-10 22:43] edoardocavazza opened #655 "Create a view helper method for hyphenation"
- [x] port [Hyphenator.js](https://github.com/mnater/Hyphenator) to a php Class
- [x] provide a method for server side text hyphenation in view
- [x] add some options (eg, a selectors array for tagged element to exclude)

[2015-04-13 08:05] stefanorosanelli commented on #23
Ok, we can skip color change, what about label change?

[2015-04-13 17:07] stefanorosanelli opened #657 "notification email in HTML as mail type"
enable sending of notification emails (not as newsletters) using mail_jobs table as HTML as mail type instead of only TXT (that we can keep as default)

[2015-04-14 16:45] #657 closed

[2015-04-14 16:52] stefanorosanelli opened #658 "data export/import - handle trees.menu field"
`trees.menu` is not currently handled in JSON/XML import/export.
This has a nasty side effect of setting `trees.menu` = 0  (default table value) for all imported sections, causing mostly bad/wrong canonical paths

TODO:
- [ ] impose `trees.menu` = 1 for sections as default in import
- [ ] handle `trees.menu` values different than default - add this info in ``objects.parents`` array ???

[2015-04-15 09:31] fquffio opened #659 "Set JPEG quality in BeEmbedMedia"
When using BeEmbedMediaHelper it could be helpful if we were able to set the JPEG quality for the thumbnail to be generated using an additional parameter `quality`.

[2015-04-15 09:41] stefanorosanelli opened #660 "ui: parameters select not working adding new related objects"
* add new objects with _CONNECT NEW ITEMS_ on a relation with parameters
 * if there is a __select__ field in those parameters we cannot select a value but we have to save main object first

[2015-04-15 10:20] batopa commented on #470
@fquffio ok, I'll try to test as soon as possible

Talking with @stefanorosanelli we have though it is better to change the name of behaviors that are automagically hooked to avoid unwanted behaviors are connected.

`DocumentWhateverBehavior` becomes `DocumentWhateverCallbackBehavior`.

In this way we define that the behavior is intended to use through `CallbackBehavior`

[2015-04-15 13:52] stefanorosanelli commented on #470
Bug in previous comment from @batopa is now solved.

New convention `ModelNameSomethingCallbackBehavior` is ok

Last issue is that after a cleanup the first callback is not called (if the corresponding action is the first after cleanup), for instance suppose we have a simple callback on Document:
 * cleanup and view a document (beforeFind/afterFind are not called), view it again -> callbacks are c

[2015-04-15 14:55] xho commented on #660
I attached select2() events to select inside the new table rows that are appended.
(only if select2 is available)

[2015-04-15 14:57] #660 closed

[2015-04-15 15:14] fquffio commented on #470
@stefanorosanelli This is due to the fact that right after a cleanup we happen to have empty `objectTypes` key in configuration (because model is first loaded during the process of caching configuration itself), so `CallbackBehavior` doesn't recognize `Document` to be a valid BEObject and it doesn't attach anything to it. I guess this was also the main cause of the issue found by @batopa.

This sh

[2015-04-15 16:17] fquffio commented on #659
Added `interlace` param as well.

[2015-04-16 11:00] didoda commented on #658
json sample (focus on 'menu' attributes);
[code]

[2015-04-16 13:08] didoda opened #662 "data export/import - fields to ignore and fields to move from objects to tree.sections"
Define fields to ignore:

 * "area_id", "object_path", "parent_id", "parent_path", "priority"
 * ... more fields?

Apply fields ignoring in export (updating ```data_transfer.php->$export['objectUnsetFields']```)

Export of 'tree.sections' should contain: "priority_order", "syndicate": manage properly ```priority_order``` and ```syndicate``` in ```tree.sections``` (export and import).
Update wiki d

[2015-04-16 13:27] #647 closed

[2015-04-16 15:45] stefanorosanelli commented on #640
Tested dataTypes:
 * tree OK
 * text OK
 * options OK
 * number OK (but same as text??)
 * date KO

Proposal: just start with main option types tree / text/ options / (maybe number) that will cover known cases just fine - will add different types later if necessary (like date/boolean/...)

[2015-04-16 16:07] stefanorosanelli commented on #651
It works, well done!

Did a trivial commit: In export with *--no-media* option we don't display *destMediaRoot* insce it's unused

closing

[2015-04-16 16:07] #651 closed

[2015-04-16 16:21] stefanorosanelli commented on #652
Import filter test failed, two problems:
 *  *sourceMediaUri* option is not handled in `DataTransfer` model, instead *sourceMediaUrl* is
 *  in import.log we have this error

```sourceMediaRoot folder "TMP/media-import" not found```

probably caused by

```$this->import['sourceMediaRoot'] = 'TMP' . DS . 'media-import'```

that should be
```$this->import['sourceMediaRoot'] = TMP . 'media-import'```

[2015-04-16 16:27] stefanorosanelli commented on #652
as for previous comment by @didoda I agree, will open a new issue for that and discuss it with the team

[2015-04-16 16:41] stefanorosanelli opened #663 "ui: data export from backend"
As proposed by @didoda in #652
(see https://github.com/bedita/bedita/issues/652#issuecomment-91483752)
we could:
 * drop current **Export** button from *Publication / Tools*
 * add new **Export** block in _Publications_ containing element .tpl similar to the new import page #641 (with dynamic options etc...)
 * we could use same **Export** block for single object views (not so important, but usefu

[2015-04-16 16:42] stefanorosanelli commented on #641
Can we drop __Publication / Tools / Import__ button?

[2015-04-16 16:57] vallo87 opened #664 "Add order parameter in getUserHistory() from Model->History"
getUserHistory($user_id, $limit=null, $group=array(), $areaId=null, $order="DESC")

now gets a new parameter for ordering.
default = "DESC"
possible options [ASC, DESC]

[2015-04-16 16:59] #664 closed

[2015-04-16 17:03] stefanorosanelli commented on #625
Seems ok now
@fquffio one last thing before closing, as in my previous comment: may we use `LangText` instead of `lang_texts`?

[2015-04-16 17:17] stefanorosanelli commented on #584
Tested **-all** options:
- all objects are actually exported
- custom properties are missing (definitions and values)
- some fields are missing, like _body_ of events/documents, _DateItems_, _GeoTag_ of events and others...

Did a simple comparison with an export of a single publication on same instance.

[2015-04-16 17:19] stefanorosanelli commented on #584
Also _relations_ are missing with **-all** option

[2015-04-16 17:23] stefanorosanelli commented on #584
Tested **--exclude-other-types** option:
- only selected types are exported
- custom properties definitions and relations are exported
-  some fields are missing, like body of events/documents, DateItems, GeoTag of events and others... (like in **--all**)

[2015-04-17 05:40] didoda commented on #640
Released template fixes. Every case is managed (included date and boolean).
You can test with the following $options array:

[code]

[2015-04-17 06:56] qwerg commented on #641
No,  would be better to transform the button to a link, pointing to the new import page, with current section selected.

[2015-04-17 07:30] fquffio commented on #625
@stefanorosanelli Sorry, I missed your comments. Done.

[2015-04-17 08:15] qwerg commented on #663
Agree.
Can we close #504 (and maybe #641) and merge related branches, before working on a new section detail page?

[2015-04-17 08:43] stefanorosanelli commented on #641
Problem is: on import page all options are dynamic, selection of a section for import depends on filter, so we have to select filter first....

[2015-04-17 08:55] stefanorosanelli commented on #640
Ok, well done
Is there a difference between _text_ and _number_ ?
Closing anyway

[2015-04-17 08:55] #640 closed

[2015-04-17 09:06] stefanorosanelli commented on #625
@fquffio everything ok
but after import I don't see translations on new object
Try to import json example in https://github.com/bedita/bedita/issues/625#issuecomment-90640226 changing  `lang_texts` to `LangText`.

[2015-04-17 09:07] didoda commented on #640
@stefanorosanelli text input field size is 40, number input field is 12 (it makes sense... usually text strings can be longer than numbers). there's no "maxlength" for both input fields. text input has "textinput" class, number field has "numberinput" class. I used the same naming convention used in dates... (class dateinput... [ < type >input ]).

[2015-04-17 09:11] stefanorosanelli commented on #663
Yes, #504 can be closed (we need just a trivial label change, we can do it afterwards)
as for #641 I would change it to single page view before closgin/merging

[2015-04-17 09:37] didoda commented on #577
I experienced a problem with "max_execution_time", in some query. Strange that I get this problem today, even though there were no new updates in 15 days. I raised max_execution_time to 300 and I can export publications locally. TODO: understand what is slower than before and why.

I released some mini fix (to avoid warnings) and a patch to delete export temporary folder in case of exceptions befo

[2015-04-17 09:40] #652 closed

[2015-04-17 09:49] stefanorosanelli commented on #625
some minor side effects from the use of model bindings in #662

[2015-04-17 10:51] batopa commented on #470
@fquffio doing some tests and all seems work properly. Good job! Closing

[2015-04-17 10:51] #470 closed

[2015-04-17 11:18] batopa opened #665 "Switching autosave from enable to disable and vice versa throw a CSRF missing token"
We need to add a CSRF token in `switchAutosave()` javascript function in `views/elements/form_common.js` to avoid CSRF error

[2015-04-17 12:21] #665 closed, assigned to batopa

[2015-04-17 13:55] stefanorosanelli commented on #485
Closing
Will (maybe) open new issues from my previous comment

[2015-04-17 13:55] #485 closed

[2015-04-17 14:13] qwerg opened #666 "Addressbook: card details links tab is missing"
A Card should have webmarks relations.

[2015-04-17 14:58] batopa commented on #504
It is much better then before. Some consideration:
- controller  and some views need refactoring. Now `AreasController::index()` redirect to `AreasController::results()` if no _id_ was passed otherwise it calls `AreasController::view($id)`. Moreover  `AreasController::results()` filter only _sections_ so the list you see entering in Publications is a list of sections. Is it wanted? I suppose that

[2015-04-17 16:01] #666 closed, assigned to qwerg

[2015-04-17 16:12] qwerg commented on #504
Refactor of controller is needed, but I have preferred to release quickly a stable version and proceed with a deep refactor later. (this involves also tree, different behaviour of index/id, etc).
For the same reason I'have preferred to handle in list (and in bulk operations!) only sections and not publications.

[2015-04-18 15:25] qwerg commented on #504
Results page now manage both areas and sections, but without bulk delete button

[2015-04-20 13:11] stefanorosanelli commented on #504
branch **issue/504-publications-review-detail-page** merged to **3-corylus** and removed

@batopa do we keep this issue or open a new one for refactoring ?

[2015-04-20 13:35] stefanorosanelli opened #667 "data transfer: create unit tests"
We need to create a bunch of unit tests for `DataTrasfer` model methods

Some refactoring is also needed on `DataTransfer` class and having this unit tests is a prerequisite - will open a new _refactoring_ issue once this is completed

@didoda could/should help in this task - you may work together on this....

[2015-04-20 13:38] batopa commented on #504
Keep open. I'll give a look at soon as possible.

[2015-04-20 14:13] stefanorosanelli commented on #584
Tested again:
- missing fields or DateItems/GeoTag problem is solved
- **-all** seems now ok
- **-types** and **--exclude-other-types** is now OK - but all custom properties definitions are exported (also of other types)
- **-types** option (without **--exclude-other-types**) now has the same behavior of **-all** (!!!) without tree data - all objects are exported regardless of selected types...

[2015-04-20 14:42] qwerg opened #668 "Which objectTypes should we use in customRelations manager?"
Managing custom relations, we can select source and target objects only from _objectTypes['related']_ array. So, areas and sections, comments etc are missing. Consider to expose _all_ kind of objects.

[2015-04-20 15:41] #662 closed

[2015-04-23 07:44] stefanorosanelli commented on #668
I would keep same structure but add missing `$objectTypesGroups` attribute `'related'` in model definition to those object types like section, area, comment....

[2015-04-23 11:27] didoda opened #669 "data transfer: refactor"
When #667 is closed, some refactoring is needed on `DataTransfer` class.
Refactoring tips:
- variables and arrays (multilevel arrays to single level arrays)
- reusing code (find common parts, create private functions, etc.)
- code conventions (naming, spaces, etc.)
- enhance logs? other?

[2015-04-23 13:43] stefanorosanelli commented on #669
Couple of suggestions
- using **verbose** mode (`-v` option) add a log line for each media file copied with source and destination paths
- in log files a numeration like ''2.2.1.1" or "2.3.1" was useful during development but seems unnecessary now

[2015-04-23 13:48] #625 closed

[2015-04-23 14:06] #658 closed

[2015-04-23 15:26] xho commented on #504
@qwerg
This insertion in list_objects_bulk causes problems to all custom list_objects that include it
`{if isset($bulk_delete) && $bulk_delete==true}`

For example now in module Addressbook the “delete selected” button is not available.
This way we have to change also all the plugins deployed that have a custom list_objects template.

It should have been the opposite, a condition like:
`{if !isset

[2015-04-23 17:03] stefanorosanelli commented on #517
Did some tests (finally!!) on a simple frontend with **eng/ita** languages having **eng** as default `frontendLang` using bootstrap dedicated branch:
-  defaullt links are `/lang/eng/...`  OK - but can we keep the (current) standard canonical path links for default language or do we have to use `/lang/xxx/` prefix always also for default language?
- link tags seem ok - always using `/lang/xxx/` pr

[2015-04-24 12:06] didoda commented on #669
refactor done in local branch  issue/669-data-transfer-refactor.
when #667 is done, I'll perform a local merge and then some test... then commit+push

[2015-04-28 10:42] qwerg opened #670 "Managing dateItems before 1000 AD"
In some projects we need to handle dateitems for events and people (card) in remote past.
Current date_items Bedita table is using mysql _datetime_ data type, so we can't manage dates before 1000 AC unless _sqlmode_allow_invalid_dates_ is enabled.
http://dev.mysql.com/doc/refman/5.6/en/sql-mode.html#sqlmode_allow_invalid_dates
Even so, dates BC aren't possible.
So how can we:
- handle dates BC in

[2015-04-28 10:48] fquffio commented on #670
We could store dates in a `BIGINT` format, like YYYYMMDDHHMMSS (year-month-day-hour-minute-second).
Doing so:
- ordering and comparisons are kept
- BC dates could be treated as negative integers without any issue
- Any "uncertain" date could be stored using some "special" value, which is an invalid date, but follows some convention we can decide
- dates up to 900+M years before and after Christ wo

[2015-04-28 11:11] batopa commented on #562
At the end I replaced mediaelement.js with video.js. mediaelement depends from jquery and in some frontends it could be an issue.

To test:

[code]

where:
- `$object` is a video or audio object type
- `$params` in addition to the usual configurations can contain a key 'params' that will be placed in `<video data-setup="">` or `<audio data-setup="">` to configure video.js
- `$attributes` as usual

[2015-04-29 08:51] fquffio commented on #517
@stefanorosanelli Sorry for delay. Should be ok now: first point should have been satisfied (but requires a further minor change in frontends, as `BeHtml` helper needs to be **explicitely** instantiated by frontend's `PagesController` with an empty array of options **before** `BeFront` helper), while third point has been fixed.

[2015-04-29 11:54] batopa commented on #670
To avoid conversion of many data in production databases it's for me preferable to maintain the current format transforming the data type from DATETIME to VARCHAR i.e. 'YYYY-MM-DD HH:MM:SS' and use another field for BC/AC date or the '-' ahead of date.

Using string like that ordering and comparison functions like '<', '>', MAX(), MIN() continue to work properly (also with '-' ahead). I don't know

[2015-05-04 10:12] fquffio opened #671 "Categories' bulk actions"
It might be useful to have bulk actions in categories' page, such as bulk delete (that obsoletes atomic deletion) and fast categories merging.
Me might also consider implementing a different way to edit existing categories (either using AJAX or a bulk-save operation) and a lightweight JS filter.

[2015-05-04 16:56] stefanorosanelli opened #673 "frontend search: don't use trees.priority in query"
In frontends search a wrong `ORDER BY Tree.priority` is used in generated SQL query
Performing a text search we should never use this `order by` statement, tree ordering is irrelevant.

[2015-05-05 14:27] vallo87 opened #674 "After saving a new object, it doesn't clean cached objects related to the new one"
When cache is enabled and a new object has been saved it doesn't check and delete all the cached objects related to it causing inconsistency.

[2015-05-05 16:34] #673 closed, assigned to stefanorosanelli

[2015-05-05 16:38] stefanorosanelli opened #675 "search: sql error on custom behavior filter adding 'order by'"
Using a custom build filter behavior (extending `BuildFilterBehavior`) if we add some **order by** fields on a string search we get an SQL error.
Generated SQL has a fragment like this:

[code]

instead of

[code]

[2015-05-06 09:43] #675 closed, assigned to stefanorosanelli

[2015-05-06 09:46] stefanorosanelli opened #676 "db: increase objects.note field size"
`objects.note` is often used to store serialized data, on mysql it's a `text` field limited to _64K_ -> move to mediumtext that stores up to _16M_

[2015-05-08 12:56] batopa commented on #674
It also solves #582

[2015-05-08 12:57] #674 closed, assigned to vallo87

[2015-05-08 12:58] batopa commented on #582
fixed in #647, closing

[2015-05-08 12:58] #582 closed

[2015-05-09 10:53] qwerg commented on #480
Add a tag select in showObjects modal filters. @batopa can you give a look (and maybe merge in 3-corylus?)

[2015-05-09 11:16] qwerg commented on #671
I noticed a 500 error for 'Missing View' on plugins (tickets or questionnaires) after bulk saving or merging.
In core modules it's all ok.

[2015-05-12 07:43] fquffio commented on #671
@qwerg Hence many plugin modules overwrite the `forward()` function, for such modules we should add key/item pair:

[code]

to `$REDIRECT` array in `ThePluginController::forward()`. This is due to the fact that the bulk actions use a different controller action than the previous atomic delete, thus needing a custom redirection. For core modules, this has already been done, but for plugin modules I

[2015-05-12 08:26] batopa commented on #671
Remember that we have to maintain backward compatibility. If changes does not impact plugins installed in old (<= 3.5.1) BEdita we can do it.

[2015-05-12 08:28] fquffio commented on #671
@batopa Backward compatibility is fully kept: it's an additional routing rule, that does not affect other ones.

[2015-05-12 10:49] batopa commented on #671
@fquffio ok then I agree with you. Updating plugins should be done when the new feature will be merged in main branch

[2015-05-13 15:02] stefanorosanelli opened #677 "geo tags should be like other tags"
current _geo tags_ in BEdita are always new records
- we don't reuse/select active geo tags
- we can't get objects tagged with some geo tag

we should:
- use geo tags just like normal tags
- view of current geo tags in a module?
- create a script to migrate current geo tags (and avoid duplicates)

main problem is `geo_tags` table structure, there's an `object_id` foreign_key

possibile solutions:

[2015-05-14 13:34] #676 closed, assigned to stefanorosanelli

[2015-05-14 13:35] #650 closed

[2015-05-14 13:44] stefanorosanelli opened #678 "admin: not retrieving last update from git"
In Admin updating a module on a branch (not master) we get
"already up-to-date" message also when last commit is missing

updating from shell via deploy script works as expected

[2015-05-15 13:39] stefanorosanelli opened #679 "API: blacklist property to forbid use of some methods"
Introduce a **blacklist** property to list default methods that cannot be called from on the api controller instance

[2015-05-15 13:45] stefanorosanelli opened #680 "API: define response type in config and via parameter"
Default response type is currently JSON - which is fine
We should be able to define response type via config `apiResponseType` property or through `respType=XML` URL parameter (names may obviously change)

In order of priority:
1. URL parameter
2. configuration
3. current setup (default or `ResponseHandler` definition in controller)

[2015-05-15 15:47] stefanorosanelli opened #681 "API: control which fields hide/show"
Implement a method via configuration or API Controller property/method to get control on which object fields to show/hide in API response to override default settings

[2015-05-16 22:03] edoardocavazza opened #682 "API: Access token remotion"
The `deleteAuth` method in `api_base_controller.php` requires 2 arguments (`$userId` and `$refreshToken`), but:
- why we need to pass the user id to the method? Could we just use the result of `$this->BeAuthJwt->identify()` ? Why the control `if (!$user || $user['id'] != $userId)` is needed?
- could we extract the refresh token just using the $userId?

[2015-05-18 06:39] edoardocavazza opened #683 "API: create an online test instance"
enable api controller on [BEdita test instance boilerplate frontend](http://test.bedita.com/boilerplate) with `basePath = '/api/v1'`

[2015-05-18 06:45] edoardocavazza commented on #683
I have not the permissions to update the frontends using git. @stefanorosanelli May you update the boilerplate frontend in bedita test? Thanks.

[2015-05-18 07:12] batopa commented on #682
@edoardocavazza you are right... It is a check remained from my testing code :smile: I'm going to remove `$userId` as first paramter. So you will need to pass only refresh token and access token in header of course. It is enough to identify user and revoke refresh token

[2015-05-18 08:52] stefanorosanelli commented on #683
Fixed. Try again...

[2015-05-18 09:30] batopa opened #684 "Avoid to use directly BeAuthComponent::user"
To avoid direct write access to user identified in api context `BeAuthJwtComponent::user` is protected. Sometimes we use directly `BeAuthComponent::user` for example in `AppController` but it would be better to use the getter `BeAuthComponent::getUser()` or  if only userid needed `BeAuthComponent::userid()`. In this way we can maintain  `BeAuthJwtComponent::user` protected and  in future we could

[2015-05-18 10:15] batopa commented on #558
Defined as super basic endpoints
- /auth
- /objects
- /poster
- /me

Moreover every BEdita objects can be reached with its pluralized object type name
- /documents
- /events
- /galleries
- etc...

For now doc [here](https://github.com/bedita/bedita/wiki/REST-API-endpoints-%28Frontend-App%29)

[2015-05-18 10:26] #558 closed

[2015-05-18 13:16] #683 closed, assigned to stefanorosanelli

[2015-05-19 12:45] stefanorosanelli commented on #678
I've been able to reproduce

Weird thing: it happens with repo on gitlab.com but not with repo on github.com - didn't test other repo...

I'll send test details in private

[2015-05-20 07:21] batopa opened #685 "API: setup default pagination limit"
At the moment by default no pagination is set so calling for example `/objects/:id/children` on a section with many children can produce slow and big response.

We should define a default pagination limit. I think 20/30 objects for page is reasonable.This default should be overridable in frontend ApiController or in configuration.

[2015-05-20 09:25] batopa opened #686 "API: handle draft/off publication"
In API context when the publication related to frontend is off or draft a 404 status code shoud be returned. Now it returns a 200 and a json of publication object

[2015-05-20 09:59] #686 closed, assigned to batopa

[2015-05-20 10:18] stefanorosanelli commented on #678
Turns out it was a sysamind problem actually (gitlab deploy key was missing)

On the other hand:
- user should be informed if the operation is not successful (so, no "already up-to-date" message)
- on success git medata (Last commit, Date,...) should be updated, now we have to reload the page (another issue perhaps?)

[2015-05-20 10:36] fquffio commented on #292
In some cases, if related object is of the same type as the object being saved, a 500 error occurs.

[2015-05-20 10:48] edoardocavazza opened #687 "API: set Access-Control-Allow-Methods"
If the server and the vhost are not sending `Access-Control-Allow-Methods` and `Access-Control-Allow-Headers` by default, any `DELETE` call fails in the browser.

[2015-05-20 11:24] #682 closed, assigned to batopa

[2015-05-20 17:00] batopa commented on #679
To blacklist endpoints add to frontend `ApiController`

[code]

and fill the array with the endpoints to blacklist.

[2015-05-21 16:16] batopa commented on #681
I'll go with a configuration like

[code]

[2015-05-22 13:03] #687 closed, assigned to edoardocavazza

[2015-05-22 14:56] batopa commented on #681
Initializing `ApiFormatterComponent` search for configuration as example above.

It's always possible to change on the fly `ApiFormatterComponent::$objectFieldsToRemove` attribute using the public method `ApiFormatterComponent::objectFieldsToRemove()`.

Example from `ApiController`

[code]

[2015-05-22 16:11] #684 closed, assigned to batopa

[2015-05-25 08:50] stefanorosanelli opened #688 "dynamic callbacks not working for some object types"
dynamic callbacks introduced in #470 seem not to trigger method calls for some object types:
document, event and card are ok, but image, video not
also some plugin models seem to work (like tickets) other no

[2015-05-25 09:01] edoardocavazza opened #689 "[import/export] problems exporting a section with `off` status"
Exporting a publication which contains a section with `off` status generates some inconsistencies:
- children objects of the section have the correct `parent` relation
- the section object is in the `objects` array
- the section reference **is not** in the `tree`->`sections` array

[2015-05-25 09:45] edoardocavazza opened #690 "FrontendController::getPath causes 404 when an object is ubiquitous with a section `off`"
If an object `X` is ubiquitous with sections `A` and `B`, and section `B` is `off` and child of `A`, trying to load section `A` returns a `BeditaNotFoundException`, because when `FrontendController::loadSectionObjects` set the canonical path of `X`, the method `FrontendController::getPath` tries to load `B`. The object `X` has two values in the `parent` field (one for `A` and one for `B`), instead

[2015-05-25 09:46] edoardocavazza commented on #690
This is also the cause of #689

[2015-05-25 13:17] batopa commented on #680
To return a good xml we should change the response used for json because it's not well formed.
For example `/api/objects/1/children` returns something like

[code]

it would be better something like

[code]

This should be applied for all arrays as tags, categories, etc...

We can apply some other transformations in **xml** case or avoiding to serve xml response.

Do we really need xml response? H

[2015-05-25 13:20] edoardocavazza commented on #680
I absolutely agree with you

[2015-05-25 13:20] stefanorosanelli commented on #688
seems ok now, tested on some object types like image, video and other plugin models
is it necessary to test **every** object type?

[2015-05-25 13:28] batopa commented on #688
The issue was the lacking of `Callback` behavior on some object type due to the 'strange' way CakePHP 1.3 merges the `$actsAs` property.

I added some assertions in unit test in `generic_object.test.php` in the method `testActsAs()`

[code]

executed for every core object types. I think it is enough. Plugged object types are not covered but they should be extend a base class used also from core ob

[2015-05-25 13:45] stefanorosanelli commented on #688
Ok seems enough, closing

[2015-05-25 13:45] #688 closed, assigned to batopa

[2015-05-25 13:58] stefanorosanelli commented on #690
Looks really like #281 - that should be fixed...
@batopa ??

[2015-05-25 14:11] batopa commented on #690
It seems the same... I'll try to reproduce again follow the steps specified from @edoardocavazza

[2015-05-25 15:43] stefanorosanelli commented on #680
Let's stay focused on **JSON** as primary response type, let's keep (partial) **XML** support since it's still used. Customers still ask for it, so we need it.
We can:
- recommend use of **JSON** anyway
- warn that **XML** support is not optimal (like in previous example) - use it at your own risk! :)

[2015-05-25 16:20] batopa opened #691 "API: base url should show the available endpoints"
Now calling API base url the response

[code]

is shown.

The default should be a page with the list of available endpoints

[code]

This default should be overridable in frontend `ApiController`

[2015-05-26 07:18] batopa commented on #690
The issue was in `FrontendController::getPath()` as said by @edoardocavazza
Trying to get the first row on trees the status of parent wasn't checked. I added a join to filter away parents in wrong status

[code]

Now it should be fine.

[2015-05-26 07:42] edoardocavazza commented on #690
seems ok now. closing...

[2015-05-26 07:42] #690 closed, assigned to batopa

[2015-05-26 16:46] stefanorosanelli commented on #691
introduced `baseUrlResponse()` method, to override for customization in frontend (if necessary)

[2015-05-27 08:08] edoardocavazza opened #692 "Invalidate CSS and JS reference browser caches after update in frontends"
We should be able to add an unique code to our css and js references in order to invalidate browser caches.
## First proposal: use git!

**Production sample**
1. complete a milestone
2. create a git tag for the current status
3. all `{$behtml->css('abc')}` and `{$behtml->script('def')}` should report the git tag as GET param

**Staging sample**
1. complete a task
2. commit and push your changes
3.

[2015-05-27 10:34] xho opened #693 "Thumbnail fail for image uploaded from multimedia relations in other modules"
When in "connect new items" in Multimedia Items of objects in any module: "create new" actually creates the new multimedia object and the original image is correctly uploaded but thumbnails are not created and are not available later.

[2015-05-27 10:51] xho commented on #693
Actually the problem is that if you not set image as type, Bedita classifies the object as be_file. Maybe we should have a better interface management of the problem, maybe suggesting auto-recognized media types.

[2015-05-27 10:51] #693 closed, assigned to batopa

[2015-05-27 11:25] fquffio opened #694 "Additional caching in controller actions"
We could try to replicate [this feature](http://api.cakephp.org/3.0/class-Cake.Cache.Cache.html#_remember) from CakePHP 3 in BEdita controllers as well.

We might consider adding a function `remember` to our `AppController` to make it easier to cache data that is difficult or complex to obtain and that is unlikely to change very often.
We could then write something like this, without the `loadSect

[2015-05-27 12:16] fquffio opened #695 "Undefined variable in `AppError`"
In `AppError`, on line 127 we have:

[code]

The variable `$url` happens to be undefined. @batopa I can't tell exactly how the value of `$url` should be obtained, so even if it's kind of a silly issue, I need your help. :laughing:

[2015-05-28 09:23] #691 closed, assigned to stefanorosanelli

[2015-05-28 09:46] batopa commented on #694
The idea is good for me. Maybe I would put `remember` function in another class (libs?) to easily reuse in other parts of apps (shells, models, ...).

I have to think about cache deleting, it seems a bit complicated. How to know what caches are to invalidate? For example, you could have a 'partial_tree' cache that contains only some object types and saving an 'event' object you should know if that

[2015-05-28 10:44] fquffio commented on #694
@batopa That's why custom callbacks on backend operations come in handy: we don't have to think of a general way to invalidate cache hence the callback itself could take care of cleaning specific cache entries (or cleaning anything at all) basing on the entity being saved. Of course, the easy way would be invalidating the whole cache on every operation, but it would be highly inefficient. And of c

[2015-05-28 10:52] fquffio opened #696 "Custom `loadObjectToAssoc` templates in modules"
We can override the template being used by `PagesController::loadObjectToAssoc()`, but such template must be placed within `VIEWS` directory.
We should be able to use a custom template placed within a plugin module as well as in the BE core. We might add an additional parameter `$module` to that method that defaults to `null` to preserve backwards compatibility, and still give the chance to easily

[2015-05-28 12:24] batopa opened #697 "Fatal Error plug-in/plug-out modules"
A fatal error is thrown trying to plug/unplug modules.

[code]

Reloading the page the module results plugged/unplugged.

[2015-05-28 13:08] batopa commented on #694
@fquffio if I understand you mean that for every frontend we could setup some custom callbacks to invalidate cache.

But in a frontend I could do

[code]

where I save some data of many object types that I don't know, they could be documents, events, but I don't have any information on which objects are cached.

So how can I know that saving a document I should invalidate that cache. That document

[2015-05-28 14:10] fquffio commented on #695
Seems fine now. Thanks!!

[2015-05-28 14:10] #695 closed, assigned to batopa

[2015-05-28 14:19] batopa commented on #697
Issue found.

After plug-in/out modules the configuration is written using `BeConfigure::cacheConfig()`  that perform `ClassRegistry::flush()` that remove all objects from registry. After that a redirect is done and in  `Controller::redirect()`

[code]

that try to use db in `CakeSession::__write()`

[code]

but `ClassRegistry::getObject('Session')` return false because 'Session' is not in the reg

[2015-05-28 14:39] fquffio commented on #697
Bug seems to have been solved.
A similar issue might affect `BeCallbackManager` as well, which was introduced in #470. I'll be investigating ASAP.

[2015-05-29 07:15] batopa opened #698 "API: object types endpoints have to be enabled with whitelist"
At the moment all object types endpoints are exposed so you can always reach the pluralized form as `/api/documents`, `/api/events`, etc...

By default this behavior has to be disabled and it should possible to enable via object types whitelist.

[2015-05-29 09:09] #697 closed, assigned to batopa

[2015-05-29 09:25] batopa commented on #480
Maybe in the future we could load tags in ajax, I think in case of many tags to load.
Anyway the issue it's ok for me.
Closing

[2015-05-29 09:25] #480 closed

[2015-05-29 10:38] qwerg commented on #504
ok

[2015-05-29 10:38] #504 closed

[2015-05-29 13:33] #576 closed

[2015-05-29 14:16] batopa commented on #671
I think the merge option is ambiguous.  We should specify what category is maintained or at least write next to the 'merge' button what will happen

[2015-05-29 14:44] batopa commented on #540
Now if system user was already present the installer refers to a generic user _bedita_ also if the username is different:

We could just write the real system user username. No password information.

[2015-05-29 14:49] #613 closed

[2015-05-29 14:52] batopa commented on #659
@edoardocavazza, @qwerg please could you test and close it?

[2015-06-01 14:45] batopa commented on #655
ok, fixed some issues on PHP 5.3. Pull request merged

[2015-06-01 14:45] #655 closed

[2015-06-03 07:43] fquffio commented on #540
@batopa Now the message shows correctly the first User's username. Informations about its password are still shown in case the password is still `bedita`, because otherwise we would never show what is the password of the newly created administrator in a clean installation. I think it might also serve as a basic security warning.

[2015-06-03 08:14] fquffio commented on #671
@batopa I have improved a bit the information messages. Should be clearer now, please let me know. :smile:

[2015-06-03 08:17] batopa commented on #540
@fquffio ok now it's ok. I agree about password. Closing

[2015-06-03 08:17] #540 closed

[2015-06-03 08:40] batopa commented on #671
Pull request #672 merged

[2015-06-03 08:42] fquffio commented on #671
Temporarily reopening as I must update plugin modules as well, to fix misbehavior as of @qwerg comment.

[2015-06-03 10:19] rzecchini opened #699 "beEmbedMedia: add width and height attributes to the img tag"
beEmbedMedia should output the width and height properties of the processed image and add them as attributes to the img.

![img-attr](https://cloud.githubusercontent.com/assets/2392233/7957833/9ebd4d3a-09ea-11e5-9c79-21e3f775e7c4.jpg)

[2015-06-03 13:50] fquffio commented on #694
@batopa That's more or less what I meant: we might need an improvement to the callback system to allow attaching a callback to every object type at once, but then it's up to you to know how cache is built in your specific case within the closure passed to `remember()`. If cached items happen to be too much "random", you'll probably want either to clear whole cache on every object save, or to use a

[2015-06-03 14:04] #699 closed, assigned to edoardocavazza

[2015-06-03 14:57] fquffio commented on #671
All plugin modules should be ok now. Closing.

[2015-06-03 14:57] #671 closed, assigned to fquffio

[2015-06-03 16:23] fquffio commented on #670
@batopa Actually, using the lexicographic order for dates formatted like MySQL datetime seems to carry some problems with dates out of the range 1000-9999 AC:

[code]

[2015-06-04 07:43] batopa commented on #670
You are right. I tested with simple data with year with four chars. Unluckily there isn't a natural sort function in mysql.

I have found this workaround that seems work

[code]

but it should be well tested and... not so pretty

[2015-06-04 07:57] fquffio commented on #670
@batopa Sorry for being the party pooper, but your workaround seems to work fine for years, but then the problem remains for finer grain ordering. :disappointed:

[code]

Using a mock two-fields ordering seems to solve this issue, but looks even worse. :grin:

[code]

[2015-06-05 08:30] batopa opened #700 "API: change the /objects response 'data' removing relations/children details"
To avoid overloading and issues paginating different things (objects requested, relations, children) we need to redesign the objects inside 'data' response to fit the new format:

[code]

If the object is a section or a publication then we'll have also a `children` key

[code]

We have also to remove the `related` key inside `data` key.

[2015-06-05 08:40] batopa opened #701 "API: add /objects/:id/relations/:type"
After the changes in the response #700 we need to add the ability to reach the objects detail related to a main object.

Example:

[code]

Should be return all objects related to object with id=1 through the 'attach' relation.

[2015-06-05 09:08] batopa opened #702 "API: handling pagination"
API lacks pagination handling. We already explose pagination data as

[code]

We should handle page to load, for example page 2 should be callable with `/objects/1/children?page=2` and limit with `/objects/1/children?limit=30`. Moreover in #685 we should define a max limit.

[2015-06-05 09:12] batopa commented on #685
We also need to define a max limit and return a 'Bad Request' 400 in case of request with limit over that

[2015-06-05 09:38] batopa opened #703 "API: define a new $modelBindings level in models to use for api"
We need to define a new `$modelBindings` level in model of BEdita objects to improve the queries done.
The new level will be named 'api' and should exclude at least `RelatedObject` and `Annotation`. If no 'api' level is defined in model the 'frontend' level should be used as fallback.

Moreover it would be useful to have the ability to change that level on runtime. We could add getter and setter f

[2015-06-05 12:36] fquffio commented on #670
According to PHP documentation of function [`strtotime()`](http://php.net/manual/en/function.strtotime.php):

Thus, we can perform column conversion to `BIGINT` in database, then take care of converting dates to or from the appropriate format when writing, reading and querying within the `DateItem` model, in such a way that other parts of the application will never be aware of this difference. BEd

[2015-06-05 12:45] stefanorosanelli commented on #670
seems perfect, proceed!

[2015-06-05 13:18] batopa commented on #703
- added `$modelBindings['api']` level in core models.
- setup the fallback to 'frontend' level in `BEAppModel::containLevel()`
- added `BEAppModel::getBindingsLevel()` to get level and `BEAppModel::setBindingsLevel()` to set existing or new level

[2015-06-05 14:31] batopa commented on #703
Now 'api' model binding level is used by default in api context

[2015-06-05 14:52] batopa opened #704 "API: fix /objects/:id/children and add /object/:id/contents and /objects/:id/sections"
Now requesting children of an object (section or publication) with `/objects/:id/children`  the response return only the childContents.

We need:
- [x] `/objects/:id/children` has to return all children (sections and contents) mixed
- [x] `/objects/:id/contents` has to return only children contents
- [x] `/objects/:id/sections` has to return only children sections

[2015-06-05 15:13] stefanorosanelli commented on #685
I would set 20 as default size and 100 as max (like in backend object lists)
In controller you have to be able to change both

[2015-06-05 15:18] stefanorosanelli commented on #702
Ok, I would use:
- "page_size" instead of "limit"
- add "page_count" as a size of current page

[2015-06-05 15:36] #703 closed, assigned to batopa

[2015-06-05 16:59] batopa opened #705 "API: check objects belong to publication"
Calling `/objects/:id/<other>` we should check that object belongs to reference publication. For now we can check that the object is on tree.

[2015-06-09 13:34] batopa commented on #702
Added "page_count" and renamed "limit" to "page_size".

Calling endpoints with `page` and/or `page_size` as query  url params fills `ApiBaseController::paginationOptions` with the right value. That array is used as `$option` calling `FrontendController::loadSectionObjects()` paginating the results.

`page_size` is mapped in `dim` that is used by `FrontendController::loadSectionObjects()`.

[2015-06-09 13:36] batopa commented on #685
In `ApiController` you can override the default

[code]

[2015-06-09 16:20] batopa commented on #679
Documented here https://github.com/bedita/bedita/wiki/REST-API:-customize-endpoints#blacklist-endpoints
Closing

[2015-06-09 16:20] #679 closed, assigned to batopa

[2015-06-09 16:21] batopa commented on #698
Documented here https://github.com/bedita/bedita/wiki/REST-API:-customize-endpoints#enable-special-object-types-endpoints
closing

[2015-06-09 16:21] #698 closed, assigned to batopa

[2015-06-09 16:27] stefanorosanelli opened #706 "ui: window.print() in modal not displaying anything"
Trying to use a simple JS "window.print()" from a modal window in backend produces a blank page with error

@xho

[2015-06-11 08:44] qwerg commented on #641
The same problem (dynamic options) is present for the EXPORT page, and I think:
- import and export command need to stay on the same position and have the same trigger
- user should be able to start directly in the new stand alone page, with tree select and other filters AND
- user should be able to start from the desired position in publications/tree (common behaviour)

why we need to select a fi

[2015-06-11 11:41] stefanorosanelli commented on #641
Because we don't know which parameters a filter has
 **CSV / vCard** import filter does not have a _tree_ parameter, usually you don't import cards on a section, same could happen with other filters...

[2015-06-11 11:43] stefanorosanelli commented on #702
Seems ok - create documentation

[2015-06-11 11:49] qwerg commented on #641
In that case the tree ID get parameter will be ignored...

[2015-06-11 15:14] batopa commented on #704
I have added more flexibility to second param in `/objects` endpoint (example `/objects/1/children`).

That second param (`children`) is validate against `ApiBaseController::allowedObjectsFilter` defined as

[code]

So you can easily limit or add new filter types.

For example in `ApiController` you can override:

[code]

to make only valid `/objects/1/children` and `/objects/1/custom_filter`.
The

[2015-06-12 11:02] batopa commented on #702
Documented [here](https://github.com/bedita/bedita/wiki/REST-API:-pagination)

[2015-06-12 11:02] #702 closed, assigned to batopa

[2015-06-12 11:03] batopa commented on #685
Added [documentation](https://github.com/bedita/bedita/wiki/REST-API:-pagination)

[2015-06-15 16:28] rzecchini opened #707 "beEmbedMedia cannot make thumbs of big images"
beEmbedMedia should not try to make thumbs of huge images otherwise the server crashes

[2015-06-16 08:19] fquffio commented on #707
Even if large images are the ones on which we are supposed to perform resizing, in some extreme cases this might lead PHP to overreach its memory limit. In such cases we might delegate the developer not to deliver such big files to the user unless they explicitly asked to.

Added new optional configuration key:

[code]

[2015-06-16 09:23] batopa commented on #707
I think that the file size limit should be only used if imagemagick is disabled and PHP GD library is used to create thumbnails.

If imagemagick is enabled the conversion is delegated to shell launching `convert` through `exec()` function.

[2015-06-17 14:54] batopa commented on #701
`/objects/:name/relations` now returns the relations count as

[code]

[2015-06-17 15:07] stefanorosanelli opened #708 "remove CSFR token in saved configuration arrays"
Saving a relation from admin module, and probably saving other config array (to verify) CSFR token is also saved in bedita.cfg.php - but it's not part of the saved configuration....

example:

[code]

[2015-06-18 09:21] fquffio commented on #707
I believed that the memory leak occurred with `getimagesize`, which occurs in any case, but I was wrong. I'll fix that ASAP.

[2015-06-18 11:24] batopa opened #709 "BEAppModel::am() overrides populated values with empty values"
In some circumstance using `BEAppModel::am()` leads to unwanted results.

For example:

[code]

that uses `BEAppModel::am()` to collapse result produces

[code]

the `id` is overridden with empty value from `Content.id`.

The expected behavior merging array with `BEAppModel::am()` should be that a key is overridden only if the value to merge is not empty.

[2015-06-18 17:06] #708 closed, assigned to nobody

[2015-06-18 17:07] stefanorosanelli commented on #678
close this issue and open a new one

[2015-06-18 17:07] #678 closed, assigned to edoardocavazza

[2015-06-18 17:10] stefanorosanelli opened #710 "admin: update from git - errors display"
In module amin / update when updating from a git repo user should be informed if the operation is not successful or in case of errors - now and "already up-to-date" message is displayed

[2015-06-18 17:11] stefanorosanelli opened #711 "admin: update from git - metadata refresh"
In module amin / update when updating from a git repo: on success git medata (Last commit, Date,...) should be updated via ajax, now we have to reload the page

[2015-06-22 10:18] stefanorosanelli opened #712 "Bad response with HTTP Accept header application/json"
There are some problems with mixed Accept headers, some examples with curl:
- curl -H "Accept: text/html,application/xml" "http://test.bedita.com" - OK, you get HTML response
- curl -H "Accept: text/html,application/xml,application/json" "http://test.bedita.com" - KO, you get
  {$content_for_layout} as a response

It happens on every BEdita instance (backends but also frontends)

[2015-06-22 10:48] xho opened #713 "use SCSS in backend"
With so many files of huge dimensions, directly editing CSS in BEdita has become almost impossible. I think it's time to introduce the use of a dynamic style sheet language to write consistent and readable styling code.
After several analysis I suggest the use of **SCSS**, which is the latest implementation (ver. 3) of the syntax of SASS. It's already widespread and there are many development tool

[2015-06-23 07:22] stefanorosanelli commented on #712
using:
- curl -H "Accept: application/json,text/html" http://test.bedita.com - you still get a bad response

In general we should not decide page response upon "accept" header, we might show an error message if the response doesn't match the request or  we could even ignore it (like most applications do).
If that's a big change we could write a new issue and discuss it with the team.

[2015-06-23 10:00] batopa opened #714 "API: implement method POST to /objects endpoint"
`/objects` endpoint has to support POST request to create new objects.

We could use POST to create new relations, children, etc... on existent object. For example
- `/objects/13/relations/attach` create new relations attach to object 13
- `/objects/1/children` create new children of object 1

[2015-06-23 10:10] batopa opened #715 "API: implement method PUT to /objects/:id endpoint"
`/objects/:id` endpoint has to support PUT request to edit objects.

We can use PUT also to edit relations, children etc... for example
- `/objects/13/relations/attach/20` edit the relation attach of object 13 with object 20
-  `/objects/1/children/12` edit `trees.priority` of object 12 children of 1

[2015-06-23 10:33] batopa opened #716 "API: implement method DELETE to /objects/:id endpoint"
`/objects` endpoint has to support DELETE request to delete an object.
- DELETE `/objects/10` to delete an object with id = 10
- DELETE `/objects/10/relations/attach/14` to delete attach relation between  object 10 and object 14
- DELETE `/objects/1/children/12` to remove object 12 from children of object 1

[2015-06-23 14:52] stefanorosanelli opened #717 "new addons structure"
We need to change current **addons** structure and layout in order to use separate modules and git repos.

Addons should stay in **modules** folder like other BE plugins, but they don't have a backend interface.
We should be able to:
- enable / disable those addons modules in backend admin and via shell
- update (git pull) through shell deploy script and admin ui

How do we distinguish _addons_ mo

[2015-06-23 14:53] stefanorosanelli commented on #717
@batopa any suggestions are appreciated

[2015-06-23 14:56] fquffio commented on #717
Maybe plugins are just like modules, except they don't have a controller, hence no available backend interface.

[2015-06-25 15:06] stefanorosanelli commented on #704
seems ok, moved to Doc before closing

[2015-06-25 15:10] #685 closed, assigned to batopa

[2015-06-25 15:47] #700 closed, assigned to batopa

[2015-06-25 15:55] stefanorosanelli opened #718 "API: don't display some object types and relations"
Add and handle two properties in API controller:
- black list of object types
- black list of relations

Object types and relations in these lists will never be shown
Default: show all types and relations

[2015-06-25 15:56] #701 closed, assigned to batopa

[2015-06-26 09:46] batopa commented on #701
I have fixed the response that included a wrong array level, now it is

[code]

[2015-06-26 09:55] edoardocavazza opened #719 "Handle error code in BeditaException"
Sometimes, understand why an exception has been thrown from the http status code is not enough.

**Real cases**
- Loading an object using its ID, can throw a 404 not found exception if the requested object does not exist or any related object fails to load.
- Request a poster image for an object can throw 404 if the object does not exist or the poster is missing.

We could handle the cases using a

[2015-06-26 10:26] batopa commented on #719
Uhm... maybe to have a unique error code is better to know always what kind of error was thrown. The HTTP status code could help to know what operation was been tried.

For example if error code 10 means "Missing object related" you know that when server responds with that code the error is always the same. The HTTP status instead will give information depending from request type for eample a 404

[2015-06-26 13:14] stefanorosanelli commented on #717
Current situation: putting and addon module in modules folder has this effect:
- shell scripts are working and may be called
- models and behaviors are not enabled

[2015-06-29 10:17] stefanorosanelli commented on #717
Introduced a new module type **addon**
We will have 3 module types: **core**, **plugin**, **addon**
**addon** modules will not have a backend UI

Presence of _config/bedita_module_setup.php_ is mandatory - for addons modules we have to declare

[code]

default value is  **plugin**

@batopa @fquffio can you test on _issue/717-addons-modules_ branch?

[2015-06-29 11:17] stefanorosanelli commented on #717
Admin Menu change proposal:
- remove **Addons** entry (or change to _deprecated_? how?)
- rename **Plugin Modules** to **Extension Modules** - plugins and addons
- remove **Update addons**  (or change to _deprecated_?)

[2015-06-29 12:32] fquffio commented on #717
I'll perform some tests soon. :wink:

I can't see any benefit in deprecating a backend controller method instead of directly removing it, especially if it's something so "core" as the Admin module. It's not something that might introduce issues unless one has hacked the core, as far as I can tell. :confused:

[2015-07-01 10:50] stefanorosanelli opened #720 "memcache support for object cache"
Add memcache support for BE objects cache

[2015-07-01 11:23] stefanorosanelli commented on #717
Removed **Addons** and **Update addons** entries in admin module.
**Plugin Modules** entry unchanged (i think it's fine to leave it)

Future enhancements:
- view pluging details: models, behaviors, scripts... introduced by plugin, configuration info...
- visually distinguish _addons_ and _plugins_

[2015-07-03 17:01] #717 closed, assigned to stefanorosanelli

[2015-07-06 16:26] stefanorosanelli opened #721 "inverse relation priority is not preserved"
to reproduce:
- create **attach** relation between document and 2 media objects with priorities 1 and 2
- in object_relations table you will see correct priorities on **attach** switch
- inverse **attached_to** relation records will have both priorities set to 1

[2015-07-07 08:37] fquffio opened #722 "Related objects' title and description emptied if not provided"
At the present state, when saving an object's related objects we are able to update their title and description.
With some relation types, we might want to give the user the chance to edit just one of them. When doing so, the other one happens to be emptied because the "default value" for a missing value is an empty string. In brief, if we don't provide a field to edit or persist the description,

[2015-07-07 09:42] fquffio opened #723 "Callback system improvements"
We need a way to simply attach a callback behavior to multiple object types without replicating it over and over.

In a bit simpler scenario, we might want to attach a callback behavior to _all_ object types, present and future, core or plugin. Using the naming convention introduced in #470 i would expect `BEObjectSthCallbackBehavior` to do the job, but this doesn't work so far.

@stefanorosanelli

[2015-07-07 09:57] batopa commented on #723
Yes, it is a common scenario. It would be nice if `BEObjectSthCallbackBehavior` could define inside of it on which objects to work. For example I might need a behavior that works on `Video`, `Image` but not on `Audio`. Default all objects.

[2015-07-07 09:59] batopa commented on #723
Yes, it is a common scenario. It would be nice if `BEObjectSthCallbackBehavior` could define inside of it on which objects to work. For example I might need a behavior that works on `Video`, `Image` but not on `Audio`. Default all objects.

[2015-07-07 10:21] fquffio commented on #723
@batopa Fine, i like that, but this would come with some additional overhead as I must actually instantiate the class and go checking for one of its properties. In that case, couldn't we just delegate to the developer to make the behavior void in case the object type isn't in the list? There would be still overhead, but it would make easier to handle both whitelisting (just `Video` and `Image`) an

[2015-07-07 10:24] batopa commented on #722
I think it should be that if title/description is not set do nothing while if they are set use their values.

[2015-07-07 10:27] batopa commented on #723
@fquffio :+1:  for me it's ok!

[2015-07-07 11:36] stefanorosanelli commented on #721
behavior is actually correct .... inverse relation priorities should be in general independent and could be different

[2015-07-07 11:36] #721 closed, assigned to stefanorosanelli

[2015-07-07 13:05] edoardocavazza opened #724 "CKEDITOR spell check plugin"
Implement CKEDITOR spell check plugin (active by default).

[2015-07-08 15:38] stefanorosanelli opened #725 "frontends: introduce paths.php to define/override app paths"
instead of using **webroot/index.php** (from .sample file) to define _CAKE_CORE_INCLUDE_PATH_ and _BEDITA_CORE_PATH_ introduce a new **paths.php** file to set those constants and also other useful constants like CSS_URL and JS_URL

[2015-07-10 14:42] edoardocavazza commented on #725
I migrated all boilerplate frontends!

Here the migration guide:
https://github.com/bedita/bedita/wiki/Migrate-a-frontend-to-new-structure-with-paths.php

[2015-07-10 16:12] batopa commented on #714
**Implemented POST /objects**

Added `ApiValidatorComponent` to validate data from client and other stuff.

To save objects you have to define in configuration what object types are allowed

[code]

or from `ApiController`

[code]

Saving new objects (user has to be authenticated) **data** from client must contain:
- `object_type`
- at least a parent (`parents` key) accessible (with right permissi

[2015-07-10 16:21] batopa opened #726 "API: permit to have empty payload in response"
In some cases the response payload can be empty. For example deleting resources could return an HTTP status 204 (NO CONTENT) with no response body.

[2015-07-13 13:02] batopa commented on #726
Set `ApiBaseController::emptyResponseBody` to `true` to avoid body in response.

[2015-07-13 13:44] batopa commented on #726
Forget the comment above. Now you can send empty response body with `ApiBaseController::emptyResponse()` function.

You can also say to the function to set an HTTP status code

[code]

will send to client a 201 status code and no response body.

[2015-07-14 12:44] fquffio opened #727 "BEdita error page not showing on missing module"
If a required BEdita module or addon is not found (for instance when importing an existing database to a new instance), the instruction `BeLib::getObject('BeConfigure')->initConfig()` at the beginning of `app_controller.php` fails, resulting in class `AppController` being unavailable even to show an error page. It results in a blank page and an Apache error log:

[code]

As suggested by @batopa, w

[2015-07-16 13:19] #726 closed, assigned to batopa

[2015-07-16 13:24] #705 closed, assigned to batopa

[2015-07-16 15:28] fquffio commented on #692
In regard to the first proposal, we might use `git describe` when debug is on, and `git describe --abbrev=0` when it is turned off.

We might also consider using each resource's last modification time (with [`filemtime()`](http://php.net/filemtime)) which is probably faster than querying git.

[2015-07-17 07:08] batopa opened #728 "API: implement GET /objects/:id/relations/:name/:related_id"
It should be return the relation priority and params, for example

[code]

[2015-07-17 08:34] batopa commented on #714
GET `/objects/10/relations/attach` to add/edit relation attach to object 10 implemented.

To add/edit a relation the client payload should for example

[code]

If relation attach between 10 and 15 not exists it will be created else it will be updated. If relation is created and missing priority it will set to max value on db + 1.

To add/update many relations at once client has to pass an array of

[2015-07-17 14:09] stefanorosanelli commented on #720
Memcache engine now uses the php **memcached** extension

Merged to **3-corylus** branch, closing

[2015-07-17 14:09] #720 closed, assigned to stefanorosanelli

[2015-07-17 16:52] stefanorosanelli commented on #725
seems ok, only problem: if **config/paths.php** is missing we have to look at apache log files to find out - user gets a blank page and bedita log files are empty...

[2015-07-17 16:54] stefanorosanelli commented on #725
modified shell script:

[code]

if in a frontend app we have  **config/paths.php.sample** but **config/paths.php** is missing we create a copy

[2015-07-17 16:54] #725 closed, assigned to edoardocavazza

[2015-07-23 08:56] alejanmat opened #729 "When the mail sending fails, the status remains on pending instead of failed"
If the sending of mail fails, the status of mail job remains pending instead of failed without a log message.
The log must be more clear and the status of the mail job must be failed

[2015-07-23 09:00] fquffio commented on #727
Ok, I'll take this silence as a "go, no problem with that". :smile:

[2015-07-24 15:16] stefanorosanelli commented on #729
This happens in case of bad message data: an exception is thrown and the message remains in "pending" status

[2015-07-28 13:41] qwerg opened #730 "Accessible Export Import commands"
All the logic in #283 must be placed in UI accessible methods, not only shell.
Also methods are not exposed! How can a user know in shell wich exportFilter are available? bho
#577 / epub3 import export need same logic.

We can:
- use the import page described in #641, but maintaining the export button in section tab: instead of a modal window the user will go in the import page passing some parame

[2015-07-28 16:14] stefanorosanelli commented on #730
For Export UI see #663

As for Import UI I prefer using current page with section id passed as parameter and drop modal window - @xho ?

Shell commands: we don't have a method to list of import/export filters with its parameters, could be useful - create an issue for that

[2015-07-28 16:22] stefanorosanelli commented on #727
Seems ok, but how can we reproduce the problem?
For example on an istance that does'nt have this fix?

[2015-07-29 09:08] stefanorosanelli opened #731 "shell: bedita checkMedia exclude dirs from check"
Exclude some list of dirs on filesystem on bedita checkMedia shell method

[2015-07-29 10:41] #731 closed, assigned to stefanorosanelli

[2015-07-30 06:59] edoardocavazza opened #732 "OEmbed API"
Provide an `oembed` endpoint for [OEmbed-like JSON responses](http://oembed.com/).

[2015-07-31 08:45] didoda commented on #689
@edoardocavazza, issue resolved, with #690 closed?

[2015-07-31 09:14] #396 closed

[2015-07-31 09:18] didoda commented on #105
automating saving is handled by browsers @stefanorosanelli could we close the issue?

[2015-07-31 15:01] stefanorosanelli commented on #105
yes, we may close, seems deprecated now

[2015-07-31 15:01] #105 closed

[2015-08-02 18:24] fquffio commented on #727
@stefanorosanelli It should be enough to create a fake `ObjectType` (`foo`, for instance) without providing an actual CakePHP Model. Doing so, the framework would be looking for a non-existing table named `foos` and would trigger the error that caused the blank page.

[2015-08-05 13:40] batopa commented on #681
Documentation [here](https://github.com/bedita/bedita/wiki/REST-API:-formatting-BEdita-objects)

[2015-08-05 13:40] #681 closed, assigned to batopa

[2015-08-06 12:25] #704 closed, assigned to batopa

[2015-08-07 07:35] didoda commented on #689
What's the expected behaviour? It should be consistent.
It's fine that "the section object is in the objects array", as long as it has "status" = "off".
Should we expect that tree->sections contain the section? I'd say yes, but we need to underline that section is off (adding a new attribute 'status' to section details in 'tree').

[code]

[2015-08-07 07:45] didoda commented on #689
tree->sections can contain now 'draft' and 'off' sections.
I would add a filter/option in export, to allow to export objects by status(es).
For instance:

[code]

[2015-08-07 08:07] didoda commented on #689
Added 'status' option to shell function `data`.
Usage example:

[code]

Default behaviour: export all statuses objects ('on','off','draft')

[2015-08-07 08:36] didoda commented on #669
I'm still keeping local branch issue/669-data-transfer-refactor (merged 3-corylus to it, just now).
Any news about #667?

[2015-08-07 08:43] didoda commented on #584
With #689 'status' option for export.
Usage:

[code]

[2015-08-12 09:43] #728 closed, assigned to batopa

[2015-08-12 09:47] batopa opened #733 "API: implement GET /objects/:id/children/:child_id"
It should be return the position (`priority`) of _:child_id_ in parent _:id_ branch

[code]

[2015-08-12 14:09] batopa commented on #733
Documented [here](https://github.com/bedita/bedita/wiki/REST-API:-endpoints#get-the-child-position-objectsnamechildrenchild_id)

[2015-08-12 14:09] #733 closed, assigned to batopa

[2015-08-12 14:12] batopa commented on #716
docs:
- [Delete an object](https://github.com/bedita/bedita/wiki/REST-API:-endpoints#delete-an-object)
- [Delete a relation between objects](https://github.com/bedita/bedita/wiki/REST-API:-endpoints#delete-a-relation-between-objects)
- [Remove child from a parent](https://github.com/bedita/bedita/wiki/REST-API:-endpoints#remove-child-from-a-parent)

[2015-08-12 14:12] #716 closed, assigned to batopa

[2015-08-12 14:15] batopa commented on #714
docs:
- [Create/update an object](https://github.com/bedita/bedita/wiki/REST-API:-endpoints#createupdate-an-object)
- [Add/edit relations](https://github.com/bedita/bedita/wiki/REST-API:-endpoints#addedit-relations)
- [Add/edit children](https://github.com/bedita/bedita/wiki/REST-API:-endpoints#addedit-children)

[2015-08-12 14:15] #714 closed, assigned to batopa

[2015-08-13 14:27] batopa commented on #715
PUT methods relative to `/objects/:id/relations/:rel_name/:related_id` and `/objects/:id/children/:child_id` implemented.

PUT of an entire object is not allowed.

[2015-08-17 08:34] batopa commented on #715
docs here:
- [Edit (replace) relation data between objects](https://github.com/bedita/bedita/wiki/REST-API:-endpoints#edit-replace-relation-data-between-objects)
- [Edit children position](https://github.com/bedita/bedita/wiki/REST-API:-endpoints#edit-children-position)

[2015-08-20 14:23] didoda commented on #722
Test ok (tested with a questionnaire + questions)

[2015-08-20 14:24] #722 closed, assigned to fquffio

[2015-08-20 14:35] batopa opened #734 "API: introduce a simple way to use custom auth component"
We need a simple way to change the default `ApiAuth` Component usually used without changing the component name in methods of `ApiBaseController`.

We could replace `ApiBaseController::$ApiAuth` with the instance of custom component defining the component used for authentication in conf.

For example the custom component named 'MyAuth' should to be added to self::$components

[code]

 and activate

[2015-08-21 13:09] didoda commented on #709
test ok

[2015-08-21 13:09] #709 closed, assigned to nobody

[2015-08-21 13:32] didoda commented on #727
My test: I added a model Foo in $uses of DocumentsController; loading the page, I see an Error 500 (Internal server error) page. In error.log:

[code]

Error handled as expected.

[2015-08-21 13:34] #727 closed, assigned to fquffio

[2015-08-24 08:57] batopa commented on #734
documented [here](https://github.com/bedita/bedita/wiki/REST-API:-Authentication)

[2015-08-24 10:48] #723 closed, assigned to fquffio

[2015-08-24 10:51] #696 closed, assigned to fquffio

[2015-08-24 11:00] #292 closed

[2015-08-24 12:35] #618 closed

[2015-08-25 08:42] #734 closed, assigned to batopa

[2015-08-25 08:42] #715 closed, assigned to batopa

[2015-08-25 10:45] fquffio commented on #574
@batopa @stefanorosanelli @qwerg @edoardocavazza I'd move this issue to the next major release milestone.

[2015-08-25 11:15] batopa commented on #574
:+1:

[2015-08-25 15:01] stefanorosanelli commented on #729
seems fixed @alejanmat can you close it?

[2015-08-25 15:13] stefanorosanelli opened #735 "HTTP Accept header and response"
Following #712

Using:
- curl -H "Accept: application/json,text/html" http://test.bedita.com - we still get a bad response (see #712 again)

In general we should not decide page response upon "accept" header, we might show an error message if the response doesn't match the request or  we could even ignore it (like most applications do).

[2015-08-25 15:13] #712 closed, assigned to batopa

[2015-08-25 15:27] stefanorosanelli commented on #669
unfortunately not, moved after 3.6 release

[2015-08-25 15:32] #729 closed, assigned to stefanorosanelli

[2015-08-25 16:21] stefanorosanelli opened #736 "import data action on same page"
Following #641 - import data action result should appear on same page

[2015-08-25 16:29] stefanorosanelli commented on #663
Another solution (proposed by @qwerg)
https://github.com/bedita/bedita/issues/641#issuecomment-111044077

To summarize the proposal:
1. new export page (similar to current import page)
2. from publications module (or other module) we can have a link to this page with current section/area id (as GET or POST param) to use with filters as _ready to go_ tree parameter

We have to choose between this a

[2015-08-25 16:30] stefanorosanelli commented on #641
Closing
Activity on import page moved to #736
Export UI design in #663

[2015-08-25 16:30] #641 closed

[2015-08-25 16:44] stefanorosanelli commented on #584
seems ok, closing

[2015-08-25 16:44] #584 closed

[2015-08-26 08:35] stefanorosanelli commented on #689
Problem seems solved now - current behaviour:
- default: we get everything (also sections "off")
- if we choose statuses we get consistent results; using **--status on,draft** an "on" document in an "off" section will not be exported

Before closing: do we need status attribute in _tree.sections_ output? we already have status in corresponding object detail

[2015-08-26 08:40] #564 closed

[2015-08-26 08:55] didoda commented on #689
Not sure everything still works, if we drop tree.sections[i].status.
We could try and see what happens in a scenario export + re-import

[2015-08-26 08:59] stefanorosanelli commented on #609
Did some testing and it seems ok now:
- GeoTag model is associated to Card
- in backend GeoTag tab is present and save works as expected

Probably solved in other commits
@fquffio can we close it?

[2015-08-26 09:04] fquffio commented on #609
@stefanorosanelli I can't remember the last time I had this issue, that I usually experienced right after authenticating. I guess we could close it and reopen it should we ever run into this again.

[2015-08-26 09:05] #609 closed

[2015-08-26 09:11] stefanorosanelli commented on #689
_tree.sections.status_ removed from export
closing

[2015-08-26 09:11] #689 closed, assigned to didoda

[2015-08-26 09:14] stefanorosanelli commented on #269
obsolete: too many changes in data import/export

[2015-08-26 09:14] #269 closed

[2015-08-26 09:27] stefanorosanelli opened #737 "admin: missing object types in custom relations ui tool"
(from #506)

missing object types:
- section
- publication (area)
- link

[2015-08-26 09:27] stefanorosanelli commented on #506
admin custom relations issue moved to #737
closing

[2015-08-26 09:27] #506 closed

[2015-08-26 09:34] stefanorosanelli commented on #737
To enable object type display simply add **'related'** to `$objectTypesGroups` array in model definition
Closing

[2015-08-26 09:34] #737 closed, assigned to stefanorosanelli

[2015-08-26 10:32] batopa commented on #659
Fix some issues using imagemagick. It seems all ok!

[2015-08-26 10:32] #659 closed

[2015-08-26 14:17] fquffio commented on #562
Tested and merged to 3-corylus with pull request #738. @batopa If everything still looks alright, I think we could close this issue.

[2015-08-26 14:22] batopa commented on #562
@fquffio it seems all ok! Closing

[2015-08-26 14:22] #562 closed

[2015-08-26 14:31] vallo87 commented on #706
Closed.
The problem doesn't occur anymore, after version update.
Must have been a Css issue, solved elsewhere.

[2015-08-26 14:32] #706 closed, assigned to vallo87

[2015-08-26 16:24] stefanorosanelli commented on #517
tested again - everything seems ok now
merged to 3-corylus

we need to document it before closing
@fquffio I think we could reuse what you wrote in this issue and in pull request https://github.com/bedita/bedita/pull/616

@batopa where? wiki? docs.bedita.com?

[2015-08-27 14:09] batopa commented on #670
Done some tests:
1. save date items with classic schema (datetime) works as expected
2. update schema and data through SQL conversion works as expected
3. save positive date items with new schema (bigint) works as expected
4. trying to save negative date items. From events module inserting negative year as `-01-02-200` or `01-02--200` save date items with `NULL` value. The right way to save negati

[2015-08-27 17:41] fquffio commented on #517
Fine. Thanks for testing. :smiley: Tell me where docs should be placed, and I'll take care of it ASAP.

[2015-08-31 07:27] fquffio opened #739 "Missing CSRF token when searching users in modal window"
When attempting to add more users to a group, search in modal window returns no result and an exception is raised and logged due to the lack of the CSRF token in the submitted request.

[2015-08-31 08:14] batopa commented on #739
ok!

[2015-08-31 08:14] #739 closed, assigned to fquffio

[2015-08-31 15:06] stefanorosanelli commented on #517
Doc is online
http://docs.bedita.com/frontends/url-friendly-content-translations
Closing

[2015-08-31 15:06] #517 closed, assigned to fquffio

[2015-09-04 14:40] batopa opened #740 "CallbackBehavior fails to add two or more behavior to the same object"
Trying to add two or more callback behavior to the same BEdita object doesn't throw errors but then only the first one attached Behavior is used (two or more times).

[2015-09-07 11:06] #229 closed

[2015-09-07 11:06] stefanorosanelli commented on #229
already handled in new CSV import class

[2015-09-07 11:44] stefanorosanelli commented on #310
We will start with MySql and Postgres. other DBMS may be supported if cake3 supports them

[2015-09-07 11:44] #310 closed

[2015-09-07 13:17] stefanorosanelli commented on #235
Obsoleted by new import/export system

[2015-09-07 13:17] #235 closed

[2015-09-07 13:53] stefanorosanelli commented on #96
Can we drop this issue? @batopa @xho @qwerg

[2015-09-07 13:53] #23 closed

[2015-09-07 14:47] qwerg commented on #96
Newsletter should use graphics/templates inherited from a frontend.
If there's no frontends, the newsletter should use a standard BEdita template and graphics.
But at present, frontends are not visibile or managed in BEdita (it's probably a BE4 feature).
We can close this issue, and postpone to a more general newsletter refactor (or drop :-)) in BE4

[2015-09-10 07:32] batopa opened #741 "API: POST /objects save data but it responds with 405 Method Not Allowed"
Saving an object with POST return a 405. By the way the object is saved.
This is due to a call to `ApiBaseController::objects()` method to retrieve the object just saved, but that method was been refactored in `ApiBaseController::getObjects()`

[2015-09-10 07:37] #741 closed, assigned to batopa

[2015-09-10 11:48] xho opened #742 "Tab order in object view are different in each module"
The list of form tabs differs between modules. I.e. the "preview" tab is the last one in documents and the second in events. There should be a uniform approach, so kind of decision should be made on tab priority / importance and which should go first.
I would also prefer to visually group together "tabs of the same kind", i.e.

main tabs (title, prop, position, text)
[space]
relations tabs (multim

[2015-09-10 12:12] xho opened #743 "Tab for disabled modules should not be available in object view"
If a module is disabled, related tabs should all be hidden, for consistency and also because the submission of content in their fields could throw errors.

For example, if the tags module is disabled its tab is still visible in a document view. The same for webmarks module. This does not happen for translations that behaves right.

[2015-09-10 14:54] stefanorosanelli commented on #742
Agree, same tabs in different modules should normally follow same order.

We could also group common tabs in single elements, easier to reuse

[2015-09-11 08:58] stefanorosanelli opened #744 "API: introduce search and type filter in /objects endpoint"
Introduce 2 filters in /objects method:
- **object_type**: list of object types to show
- **query**: perform text search

[2015-09-14 09:19] xho opened #745 "Calendar view in Events"
Enhance the calendar view in events. Also review presentation (use datepicker, set a range), remove inline CSS, use module js, use POST instead of GET in toolbar, SQL methods.

[2015-09-14 13:59] stefanorosanelli commented on #745
seems ok, we can close it

[2015-09-14 17:20] #745 closed, assigned to xho

[2015-09-16 14:21] stefanorosanelli opened #746 "Redis support"
Introduce Redis as alternative cache engine

[2015-09-22 16:42] xho opened #747 "BEdita web wizard setup creates core.php with errors"
Using web based setup, the file core.php created has problems in unclosed or wrong formatted comments near url rewrite options.

For example, after choosing mod_rewrite enabled:

[code]

The comment is not opened after the Configure line, also there is not a new line.
So this configuration throws errors.

[2015-09-22 17:03] stefanorosanelli opened #748 "frontend: error in search if no filters are used"
Using `FrontendController::search` method invoked from `/search` POST using only **searchstring** parameter returns an error:

[code]

[2015-09-25 11:42] #746 closed, assigned to stefanorosanelli

[2015-09-25 13:02] batopa opened #749 "API: improve ISO-8601 support on date format"
Using `DateTime::ISO8601` to format date produces results as 2005-08-15T15:52:01+0200 but reading the [PHP documentation](http://php.net/manual/en/class.datetime.php#datetime.constants.iso8601) it says

Moreover in some iOS version the creation of `Date` object using  +0200 format thrown errors.
So our default date format should be 2005-08-15T15:52:01+02:00 obtained using `DateTime::ATOM` format.

[2015-09-29 06:58] edoardocavazza commented on #749
Working now. Thank you!

[2015-09-29 06:58] #749 closed, assigned to batopa

[2015-09-29 07:07] edoardocavazza opened #750 "[API] protected fields when saving an object"
Right now, if you know the proper property name, a POST request can update all object's fields.

By default, some fields should be protected (maybe at core level):
- `created`
- `created_by`
- `modified`
- `modified_by`
- `ip_created`
- others?

Moreover, we should introduce a protection for the fields which are not passed to the client through the GET request: if some fields are private and hide,

[2015-09-29 09:32] fquffio opened #751 "Frontend language requires double-load to change"
After #517, clicking on a `/lang/xyz/*` link isn't enough to switch language, and a page reload is required.

[2015-09-29 09:47] stefanorosanelli commented on #750
I think it's not just an API issue, but more general - also saving a $data array directly in PHP you should not be able to change those fields
[but maybe we used this _feature_ in some shell script, we have to check....]

[2015-09-29 09:50] edoardocavazza commented on #750
I agree. Maybe we could set a protection level using the authentication:
- administrators can update protected fields
- developers/managers/editors/... can not

[2015-09-29 10:45] batopa commented on #750
Anyway for API we should permit to save only fields served from `GET /objects:id` (obviously excluded protected fields).
If my API is configured to just show the object `title` the call `POST /objects` should permits to save only that field.

Maybe we could use a cache to save the fields returned by response (divided by object type) to know which fields can be passed to `POST /objects` request, bu

[2015-09-29 14:59] #748 closed, assigned to stefanorosanelli

[2015-09-30 16:59] vallo87 opened #752 "Concurrent save of a model generates an insert error"
A concurrent save of a model can generate the same nickname hence an INSERT error in the database (due to it's uniqueness requirement)

[2015-10-02 12:18] didoda commented on #747
I tried to create core.php through web based setup and I succeeded (no errors and core.php is fine).
I wonder whether is a php version related problem (my php version is 5.6.4-4).
In the error case, it's like applymodrewrite writes inside core.php file 3 lines after the right position/line.

mod_rewrite is set in setup.php:applymodrewrite function:

[code]

Except for "$done = true;" repeated 2 ti

[2015-10-02 12:54] didoda commented on #747
I tried in test.bedita.com... no error. We could skip the problem, assuming mod_rewrite enabled as prerequisite (then getting rid of _applymodrewrite call).

[2015-10-02 12:59] stefanorosanelli commented on #747
Yes, better skip _core.php_ manipulation, we may assume mod_rewrite enabled as prerequisite

[2015-10-02 13:41] didoda commented on #752
Nickname generation (or model->save?) should be managed through a concurrent controlling access system (binary semaphore? mutex?).
For instance: 2 models try to acquire nickname concurrently. Only one of the two models acquire the nickname-semaphore (and lock it in db); when nickname creation is done (model has been saved), model release the nickname-semaphore (change value of semaphore in db). As

[2015-10-05 13:23] fquffio commented on #670
@batopa Issue 4) should by now have been fixed. Still, the UI cannot handle this properly, as the JS calendar prevents the user from inserting a date in the format `-MM-DD-YYYY`, `DD/MM/-YYYY` or whatever, but if the user "forces" the input value, the saved value should now be as expected.

[2015-10-06 09:15] batopa commented on #670
@fquffio test is ok :+1:

[2015-10-06 09:43] batopa commented on #744
To easily discern filter params from others I suggest to use `filter` parameter as basis for any objects filtering strategy.

For example, the following is a request for perform a full text search of _test_ word limited to _document_ and _event_ objects

`GET /objects?filter[query]=test&filter[object_type]=document,events`

[2015-10-09 08:56] didoda opened #754 "Exception logging: separate log files, default and custom config"
When a BeditaException is thrown, system logs to 'error.log'.
It's not correct.
When a BeditaException is thrown, system should:
1. log to a specified file (i.e. debug.log, http_responses.log, filesystem.log, database.log, ...) [default file chosen by semantic of exception]
2. not log at all (i.e. http status codes 401, 404, ...)

Developers should have the possibility to force an exception to log

[2015-10-09 09:40] didoda commented on #754
I imagine file logging separation by exception, like:

[code]

Custom config could override it. For instance:

[code]

[2015-10-12 16:21] stefanorosanelli commented on #754
I would keep solution to this as simple as possible
Goal of this issue is: try to follow logging guidelines https://github.com/bedita/bedita/wiki/Logging-conventions
I'd say: all exceptions should be logged, some are always **errors**, some not, some could be **info/debug**
That said I don't know if there's a simple solution - see also #538 and #570

[2015-10-14 12:19] cybersecurityworks opened #755 "Bedita CMS 3.6.0 – Publication Module Bug Report"
Hi Team:

please find the detail report link below

https://github.com/cybersecurityworks/Disclosed/issues/8

[2015-10-14 12:38] stefanorosanelli commented on #755
Thanks @cybersecurityworks - we are analyzing the problem right away

[2015-10-15 10:07] batopa commented on #755
Under investigation :microscope:

[2015-10-21 10:46] rzecchini opened #756 "Alt field for multimedia items"
Multimedia items should have an "alternative text" field, representing the information to display when a img is missing.

[2015-10-22 06:46] didoda commented on #754
Solution is not complicated, but it requires an important refactor (at least in `bedita-app/app_controller.php`, `bedita-app/app_error.php`, `bedita-app/bedita_exception.php`) and releasing it would be dangerous, because exceptions are used everywhere in frontends, it's not possible testing all around. Maybe we could just keep in mind how to better logging system in next BEdita version (4).

[2015-10-22 15:48] stefanorosanelli commented on #754
Agree, let's move it to BEdita4 - we'll see then, depending on how exception handling and logging will be implemented

[2015-10-23 06:32] edoardocavazza opened #757 "[API] "Error: object type not found" when `frontendAreaId` object does not exists"
Every request to an API Frontend gets the response:

[code]

if `$config['frontendAreaId']` points to an area which does not exist.

[2015-10-23 12:52] rzecchini opened #758 "Make CKEditor auto correct smart-quotes (double and single)"
CKEditor should behave like most of the other editors and autocorrect dumb quotes to smart ones (see img attached). I suggest a plugin that implement this feature on quotes and other typographic characters: https://github.com/danyaPostfactum/ckeditor-autocorrect-plugin

![smart-quotes](https://cloud.githubusercontent.com/assets/2392233/10692977/6e2fae90-7995-11e5-9a32-748d3ff0d736.gif)

[2015-10-23 13:07] xho commented on #758
I don't know, I don't agree with autocorrect quotes by default, as
autocorrect may result annoying in many contexts. I would prefer a
configurable option for the editor, with more eventually (such a place
where tu turn on advanced editor's features).

C_

On 23 October 2015 at 14:52, rzecchini notifications@github.com wrote:

##

#  x][o

[2015-10-23 13:12] rzecchini commented on #758
Great. What we need is the ability to toggle ON this feature in some
context like news & institutional websites where no writer pay attention to
which type of quote they are entering.
A configurable option seems fine.

2015-10-23 15:07 GMT+02:00 xho notifications@github.com:

[2015-10-23 13:51] edoardocavazza opened #759 "[API] endpoint for publication id"
Provide an endpoint which retrieves the current `$config[frontendAreaId]` value, or, maybe better, the nickname of the publication.

[2015-10-23 14:00] batopa commented on #759
@edoardocavazza maybe it could be return the publication as `GET /objects/:id`?

[2015-10-23 14:01] edoardocavazza commented on #759
:+1:

[2015-10-23 15:29] edoardocavazza opened #760 "[API] enable status update if staging mode"
if frontend `$config['staging']` is `true`, the POST update request should be able to update `status` field.

[2015-10-28 10:39] stefanorosanelli commented on #756
Agree, normally we use some combination of _title_ and _description_ but a separate field may be more appropriate
@xho, @qwerg any thoughts?

[2015-10-28 11:14] xho commented on #756
Agree that are semantically different things: title is for – ehm – title,
while alt stands for “alternative text”, that the browser should use when the
image is not shown, for various reasons, or by screen readers.
Actually often in terms of content they fit together, but not always.

At the same time I have to say I fear the multiplication of unused fields
in content management…

On 28 October 20

[2015-10-28 11:21] edoardocavazza commented on #756
I would like to add that "alternative text" could be an useful field in terms of search in the database.

[2015-10-28 11:25] stefanorosanelli commented on #759
in **BE4** we should have a `/publications` endpoint listing all available publications

[2015-10-28 11:39] xho commented on #756
Consider also that the alt attribute is not available and valid everywhere.
I.e. in <figure> and <svg> (the latter has got a desc element inside, <desc>Stuff</desc>), but also (strangely) it has not been defined for <video> and <audio> tags. And so on: in Multimedia module we manage several different kinds of file types.

So, speaking of user interface and trying to limit the caos in CM, I think t

[2015-10-28 11:41] edoardocavazza commented on #759
If the API frontend can interact with more than a publication, we can close this specific issue.

Can we suppose that the developer already knows the nicknames of the publications? If so, he/she could use the current `GET /objects/:nick` to retrieve the publication he/she needs.

[2015-10-28 11:51] stefanorosanelli commented on #759
in BE4 we will no more have _1 API frontend / 1 publication_ but a native API for all data - we then may use permissions and/or api keys to isolate single publications,

Developer should know only API URL & API KEYS, endpoint to get available roots / publication may be useful

[2015-10-28 11:57] stefanorosanelli commented on #760
Now if we create an object via API `status` field is always `on`. Maybe this should be configurable (globally or per object type).

But I think we should always be able to set `status` via POST, also not in `staging` environment, but always.
If we don't set `status` field an API default logic should do it

[2015-10-28 14:03] batopa commented on #759
Not now. Maybe we could handle the "current" publication as query string parameter.
For example:

[code]

to search object _:id_ in default frontend publication (`$congfig['frontendAreaId']`) as it happens now.

[code]

to search object _:id_ in specific _id_pub_ publication.

Adding a check on that parameter in `ApiBaseController::beforeCheckLogin()` and overriding the default frontend publicatio

[2015-10-29 08:59] stefanorosanelli commented on #759
Native multipublication API will be available in BE4, if we don't need it now, we may skip this step
Instead of implementing a new endpoint what about using something like

[code]

now response is empty, probably because there is no publication inside API publication
we could also implement a new filter for that

[2015-10-29 11:12] batopa commented on #759
The response is empty because `GET /objects?filter[object_type]=area` search 'area' object type in default publication's descendants.

Maybe at this point it makes sense that the developer has to know the publication id or nickname.

[2015-10-29 11:46] batopa commented on #757
Which error should we trigger?

If `frontendAreaId` is missing it should be a blocking error on server (wrong configuration). I will throw a 500 error with a specific message as "Missing or wrong publication in configuration".

@edoardocavazza @stefanorosanelli do you think it's correct?

[2015-10-29 11:50] batopa opened #761 "[API] Save custom properties"
The request

[code]

should permit to save custom properties of the object.

[2015-10-29 14:02] stefanorosanelli commented on #757
:+1:

[2015-10-29 14:03] edoardocavazza commented on #757
:+1:

[2015-10-29 14:10] #751 closed, assigned to fquffio

[2015-10-29 14:22] batopa opened #762 "[API] Missing formatting of custom properties"
Objects in response of `GET /objects` shown custom properties but them are not correctly formatting.
For example if a custom property is of _date_ type it shloud be formatted in ISO 8601, a SQL date format si exposed instead.

[2015-10-30 14:09] edoardocavazza commented on #757
Great it works! Closing...

[2015-10-30 14:09] #757 closed, assigned to batopa

[2015-10-31 03:53] cybersecurityworks commented on #755
XSS security issue fix ?

[2015-10-31 13:54] batopa commented on #755
Yes it is fixed on 3-corylus branch. We will release the version with the fix soon.

[2015-10-31 13:54] #755 closed, assigned to batopa

[2015-11-09 16:22] batopa opened #763 "[API] Show all custom properties getting objects"
The `/objects` endpoint should return all custom properties for every object type, now only custom properties populated are shown.
Not populated custom properties should be `null`

[2015-11-12 04:32] cybersecurityworks commented on #755
Can i know, when fixed version will release?

[2015-11-12 16:45] xho opened #764 "CKEditor improve local configuration"
In order to make life easier when customizing local instances, CKeditor local configuration should extend default init and not overwrite it. So:
- add local configuration file in bedita.ini and .cfg (the js file that will extend init file in 'conf')
- modify ckeditor javascript init scripts to move configurations in the BEDITA object (now they are in the global scope)

It is a prerequisite for fur

[2015-11-13 10:14] batopa commented on #755
@cybersecurityworks we should prepare the release shortly, we are fixing the last things. Anyway we'll inform you as soon as possible

[2015-11-13 10:22] cybersecurityworks commented on #755
Thanks batopa.

[2015-11-16 15:54] #764 closed, assigned to xho

[2015-11-17 08:11] batopa opened #765 "[API] add filter by object ids getting a collection of objects"
We need to add a filter to get a collection of objects by id.
For example

~~GET /objects?filter[id]=1,2,3~~

[code]

If some object requested is not reachable the API will respond with an error.
The max number of objects ids requested must is less then `ApiBaseController::paginationOptions['maxPageSize']`

[2015-11-17 11:08] batopa commented on #765
Since it is not properly a filter it is better to use `id` and not `filter[id]`

[2015-11-17 12:23] batopa commented on #758
Uhm... I'm not sure that "autocorrect" should be enabled by default

[2015-11-18 11:22] stefanorosanelli commented on #765
test ok!

[2015-11-18 14:57] stefanorosanelli opened #766 "create gravatar helper"
helper to display _gravatar_ images

[2015-11-18 15:49] stefanorosanelli opened #767 "[API] single /poster call on multiple objects"
a single poster call should return results on multiple object id's
use same syntax as in #765

[code]

endpoint **/poster** should be renamed **/posters** ??

[2015-11-18 16:21] batopa commented on #766
To use it. In controller

[code]

In view

[code]

[2015-11-19 12:02] #747 closed, assigned to didoda

[2015-11-19 14:06] batopa commented on #767
:+1: for `/posters`

[2015-11-19 16:36] #765 closed, assigned to batopa

[2015-11-23 15:14] batopa opened #768 "[API] implement a query string to get object relations detail"
We need an option to get relations detail getting objects. The request has to include the relation name and the number of related objects to get `relation_name|relation_number`.

For example:

~~/objects?expand[relation_details]=attach|3,seealso|2~~

[code]

[2015-11-24 10:24] stefanorosanelli opened #769 "optimize thumbnail presence check on Amazon S3"
on Amazon S3 we are currently mounting the bucket as a local filesystem
everything works but access is slow, a slow creation is not so problematic (since its done only once) but thumbnail check presence are too slow....

via config param introduce alternative check using S3 REST API or other methods

[2015-11-25 12:45] stefanorosanelli opened #770 "[API] /posters response on image error"
At this moment in case of missing image or other thumbnail related errors we get a response like:

[code]

Is this correct?
In this example we may have a filesystem error.
Should we send an error response? Or an empty image?

@xho @qwerg @edoardocavazza

[2015-11-25 14:07] stefanorosanelli commented on #770
also a non existent id returns empty response (no error)

[code]

[2015-11-26 12:20] stefanorosanelli opened #771 "publications: new data export"
Implement part of #663, namely:
- drop current **Export** button from _Publication / Tools_
- add new **Export** block in _Publications_ containing element .tpl similar to the new import page #641 (with dynamic options etc...)

[2015-11-26 12:24] stefanorosanelli commented on #663
in #771 will be implement first two points of original issue description
- drop current **Export** button from _Publication / Tools_
- add new **Export** block in _Publications_ containing element .tpl similar to the new import page #641 (with dynamic options etc...)

Other points may be implemented in the future, but not now.
Closing

[2015-11-26 12:24] #663 closed

[2015-11-26 14:07] stefanorosanelli opened #772 "data JSON import - choose destination id"
Importing JSON (and other types) data we need to define main **destination id** (section or publication) to import data.
At this moment we are able to import only into a new publication.

This parameter should be available in shell and backend UI (through `JsonImportFilter` class)

[2015-11-26 15:09] didoda commented on #772
commit 9ee62e51f09cb881c2807bc31cedd89ba99195c3

usage: ./cake.sh data import -f file -parentId publicationParentId/sectionParentId

[2015-11-30 10:41] batopa commented on #768
The relations  are in 'objects' key of relative 'relations'.

[code]

[2015-12-01 10:03] #766 closed, assigned to batopa

[2015-12-01 10:35] stefanorosanelli commented on #771
accidentally closed  in 59def4b
reopening

[2015-12-01 10:40] stefanorosanelli commented on #771
Seems ok, but:
- we need it also for sections (publications in issue title is the module name)
- file name in **File:** could be title or nickname of section/publication exported

[2015-12-01 10:42] stefanorosanelli commented on #768
test ok, moved to **doc** status

[2015-12-04 09:43] stefanorosanelli commented on #771
Ok
Two more things:
- selecting a radio button filter or pushing _Export_ button the **unsaved object** icon appears in Publications box and confirm window is fired upon page change
- default file name extension: to be set automatically in **File:** input text, filename should be [nickname].[default-extension]

[2015-12-04 10:41] didoda commented on #771
default extension is a filter option. for instance:
(from `json_export_filter`)

[code]

(from `xml_export_filter`)

[code]

Parameter 'visible' can be used to show filter option in view

[2015-12-04 11:18] didoda commented on #771
Let's use a better solution: filter variable `public $defaultExtension` (suggested by @stefanorosanelli).
For example:
(from `json_export_filter`)

[code]

[2015-12-04 11:51] #771 closed, assigned to didoda

[2015-12-04 12:16] batopa opened #773 "Blip.tv is dead. We should remove all references to it"
Since 20th of August blip.tv doesn't exist anymore http://www.tubefilter.com/2015/07/20/maker-studios-to-officially-shut-down-blip-tv-in-august-2015/ :disappointed:
We can remove all code related to it.

[2015-12-07 16:28] stefanorosanelli opened #774 "data JSON section export: missing parents"
Using minimal initial BEdita setup (1 publication, 1 section containing 1 document) exporting section using:

[code]

i get this JSON

[code]

 where _parents_ array is empty, but document with id 4 is in section 2

[2015-12-07 16:32] stefanorosanelli commented on #774
exporting from UI I get the same JSON as above (missing parents) but with 2 more unexpected items in "objects" (publication and card)

[code]

[2015-12-07 16:37] stefanorosanelli commented on #772
Trying with a simple JSON like this on a section

[code]

using -parentId option I get this error:

[code]

[2015-12-07 16:42] stefanorosanelli opened #775 "data JSON export: integers as strings"
Exporting a JSON I'd expect numbers and not strings for ids as data types, but I'm getting always strings, like in this example:

[code]

[2015-12-09 17:16] #762 closed, assigned to batopa

[2015-12-09 17:17] #763 closed, assigned to batopa

[2015-12-10 05:28] cybersecurityworks commented on #755
Hi batopa:

We are making a public disclose for the issue. please confirm the release date?

[2015-12-10 08:59] #670 closed, assigned to fquffio

[2015-12-10 11:16] batopa commented on #755
Hi @cybersecurityworks,
we had unexpected issues and the release date was delayed.
We are almost ready and we are testing last things before release it. You can expect to see the new release in the next few days.

[2015-12-10 11:36] #772 closed, assigned to didoda

[2015-12-10 11:50] stefanorosanelli commented on #251
To be reviewed in BE4

[2015-12-10 11:50] #251 closed

[2015-12-10 12:04] stefanorosanelli commented on #521
Obsolete, new view templates will be implemented in BE4

[2015-12-10 12:04] #521 closed

[2015-12-10 12:08] stefanorosanelli commented on #520
Obsoleted, new view templates in BE4

[2015-12-10 12:08] #520 closed

[2015-12-10 12:13] stefanorosanelli commented on #476
To be reviewed in BE4
Object access will be mainly through API but there will be no difference between backend / frontends

[2015-12-10 12:13] #476 closed

[2015-12-10 12:18] stefanorosanelli commented on #518
First implementation available in https://github.com/bedita/wikidocs
New markdown editor will be implemented in BE4

[2015-12-10 12:18] #518 closed

[2015-12-10 12:33] stefanorosanelli commented on #96
agree with @qwerg closing

[2015-12-10 12:33] #96 closed

[2015-12-10 13:33] stefanorosanelli commented on #100
we could close this, seems obsolete
on BE4 we could concentrate on integration with services like Disqus
are we going to have a comments module in BE4?
@xho @batopa

[2015-12-10 13:45] stefanorosanelli commented on #131
Feature still valid for BE4 - we'll be using native API for that
Closing, description and comments are obsolete, will open a new issue

[2015-12-10 13:45] #131 closed

[2015-12-10 14:07] stefanorosanelli commented on #774
Ok, fixed now
export from shell and backend are identical

[2015-12-10 14:07] #774 closed, assigned to didoda

[2015-12-10 14:38] #761 closed, assigned to batopa

[2015-12-10 15:08] stefanorosanelli commented on #245
RSS feed reader no more needed, but some simple system to notify users in scenarios like:  _'new version available'_, _'system unavailable for manteinance from...'_....
New issue for that, closing

[2015-12-10 15:08] #245 closed

[2015-12-10 15:57] #773 closed, assigned to batopa

[2015-12-10 16:01] stefanorosanelli commented on #271
Solved in new reference frontends

[2015-12-10 16:01] #271 closed

[2015-12-10 16:03] #740 closed, assigned to batopa

[2015-12-10 16:07] stefanorosanelli commented on #218
Metadata strategy will be reviewed in BE4

[2015-12-10 16:07] #218 closed

[2015-12-10 16:19] #511 closed

[2015-12-10 17:01] #744 closed, assigned to batopa

[2015-12-11 06:02] cybersecurityworks commented on #755
Hi @batopa
Thanks for update.

[2015-12-11 09:34] #768 closed, assigned to batopa

[2015-12-11 12:23] stefanorosanelli commented on #416
Do we need this issue for BE4? May we close it?

[2015-12-11 12:25] stefanorosanelli commented on #527
Closing - we'll see if still needed in BE4

[2015-12-11 12:25] #527 closed

[2015-12-11 14:06] stefanorosanelli commented on #775
now integer values in arrays are correclty set as integer types, but there's a more general problem: data datypes should correspond to database field types - like in API responses
I'll open a more general issue towards BE4 and close this one

[2015-12-11 14:06] #775 closed, assigned to didoda

[2015-12-11 14:10] stefanorosanelli opened #776 "data JSON export: data types consistent whith database field types"
More general soultion to #775: not only integer values should be displayed as numeric JSON types but all types coming from db fields should be represent in consistent JSON types, e-g:
- DATATETIME as date
- VARCHAR, TEXT as string
- INTEGER as number
- ...

[2015-12-11 14:17] stefanorosanelli commented on #474
@batopa @qwerg can we close it?

[2015-12-11 14:23] stefanorosanelli commented on #468
No, it may not be necessary, we could set the user's email
But normally on frontends yuo may expect to have these fields not empty
Is it still necessary?

[2015-12-11 16:15] cybersecurityworks commented on #755
Hi @batopa
I really appreciate your collaboration and patience while we work with you on these issue. Thanks for your patience effort and time taken

Thanks alot for the credit

As issue has been fixed, we are making public disclosed for the same.

[2015-12-14 17:44] stefanorosanelli commented on #481
from 8c9d2b1 we may load a custom config file
closing for BE3.x, even if issue is not completely solved as requested in description
in BE4 configuration system will be reviewed

[2015-12-14 17:44] #481 closed

[2015-12-14 17:46] stefanorosanelli commented on #123
closing as obsolete

[2015-12-14 17:46] #123 closed

[2015-12-14 17:53] stefanorosanelli commented on #266
i18n system has changed in BE, to be reviewed in BE4
closing as obsolete

[2015-12-14 17:53] #266 closed

[2015-12-14 17:54] stefanorosanelli commented on #305
Let's hope we'll do a better doc in BE4 :)
closing

[2015-12-14 17:54] #305 closed

[2015-12-14 17:56] #270 closed

[2015-12-14 17:57] stefanorosanelli commented on #306
In BE4 we don't know if we'll still be using **aliases**
closing for now

[2015-12-14 17:57] #306 closed

[2015-12-14 18:00] stefanorosanelli commented on #325
we'll see in BE4
closing now

[2015-12-14 18:00] #325 closed

[2015-12-14 18:01] #324 closed

[2015-12-14 18:03] stefanorosanelli commented on #391
solved in #504

[2015-12-14 18:03] #391 closed

[2015-12-14 18:04] stefanorosanelli commented on #402
obsolete
we'll see what happens in BE4 :)

[2015-12-14 18:04] #402 closed

[2015-12-14 18:11] stefanorosanelli commented on #434
maybe not an **admin** module feature, but stll to do in BE4

[2015-12-15 17:15] stefanorosanelli commented on #534
@manuelzane problem persists?
may we close this anyway?

[2015-12-15 17:16] stefanorosanelli commented on #499
configuration system is going to change radically in BE4 - closing as obsolete

[2015-12-15 17:16] #499 closed

[2015-12-15 17:20] stefanorosanelli commented on #413
Still necessary for BE4?

[2015-12-15 17:24] stefanorosanelli commented on #435
This will depend on UI/Javascript design in BE4
@batopa @edoardocavazza may we close it as obsolete?

[2015-12-15 17:41] stefanorosanelli commented on #577
epub development has now been moved to a dedicated addon
@didoda may we close this?

[2015-12-15 18:30] #767 closed, assigned to stefanorosanelli

[2015-12-15 20:08] batopa commented on #435
Yep, close it
Il 15/dic/2015 06:31 PM, "Stefano Rosanelli" notifications@github.com ha
scritto:

[2015-12-16 08:09] #435 closed

[2015-12-16 08:22] #534 closed

[2015-12-16 08:40] didoda commented on #577
Comments are obsolete: epub dev has moved on.
We better close this issue.

[2015-12-16 08:40] #577 closed

[2015-12-16 10:03] stefanorosanelli commented on #735
@batopa: move to BE4?

[2015-12-16 10:15] stefanorosanelli commented on #537
@edoardocavazza can we close it? seems obsoleted by new API

[2015-12-16 10:47] stefanorosanelli opened #777 "shell: list available import/export filter"
[from #730]
using current shell commands for import/export like:

[code]

we assume user knows the available filters, implement a method like

[code]

to show current import/export filters

[2015-12-16 10:47] stefanorosanelli commented on #730
created #777 for shell commands
closing - import/export handled in other issues, system will be reviewed in BE4